.inventory-item {
    padding-right: 15px;
    padding-left: 15px;
    .item-wrapper {
        cursor: pointer;
        border: solid 1px #393b4d;
        border-radius: 15px;
        text-align: center;
        box-shadow: 0px -1px 4px 0px #010202;
        text-align: center;
        margin-bottom: 30px;
        .item-img {
            text-align: center;
            margin-top: 15px;
            margin-bottom: 15px;
            height: 150px;
        }
        .item-name {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            font-family: "Century Gothic";
            color: #ffffff;
            line-height: 1.2;
            -webkit-font-smoothing: antialiased;
            text-align: center;
            margin-bottom: 22px;
            height: 38px;
            
        }
        :host-context(.item-area) .rarity {
            margin-bottom: 30px;
            height: 40px;
            padding: 0 15px;
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        .rarity {
            margin-bottom: 30px;
            height: 40px;
            img {
                vertical-align: middle;
            }
        }
    }
    @media (max-width: 450px) {
        padding-left: 8px;
        padding-right: 8px;
        .item-wrapper {
            margin-bottom: 16px;
            .item-img {
                padding: 5px;
                margin: 0;
            }
            .item-name {
                height: 38px;
                margin-bottom: 5px;
                font-size: 14px;
            }
        }
        .rarity {
            margin-bottom: 20px !important;
            height: 35px !important;
            img {
                height: 35px;
                vertical-align: middle;
            }
        }
    }

    .item-wrapper:hover {
        border: solid 1px white;      
    }
}
  