.inventory-item {
    padding-right: 15px;
    padding-left: 15px;
    .item-wrapper {
        cursor: pointer;
        border: solid 1px #393b4d;
        border-radius: 15px;
        text-align: center;
        box-shadow: 0px -1px 4px 0px #010202;
        text-align: center;
        margin-bottom: 30px;
        .item-img {
            text-align: center;
            margin-top: 15px;
            margin-bottom: 15px;
            height: 150px;
        }
        .item-name {
            font-size: 16px;
            font-family: "Century Gothic";
            color: #ffffff;
            line-height: 1.2;
            -webkit-font-smoothing: antialiased;
            text-align: center;
            margin-bottom: 22px;
            height: 38px;
        }
        .btn-view {
            cursor: pointer;
            color: #ffffff;
            margin-bottom: 30px;
            background-color: #ca8500;
            display: inline-block;
            padding: 5px 20px;
            border-radius: 20px;
            font-weight: 600;
        }
    }
}
  