<div class="profile-modal">
  <div *ngIf="!isMobile" class="text-center">
    <div class="px-5 mx-4 py-5">
      <img class="mx-4" src="../../assets/icons/doc.png" alt="document" />
    </div>
    <div class="m-5">
      <p class="description px-5">Sorry, this content is locked until the tokensale begins.</p>
    </div>
    <div class="mb-5">
      <button class="btn btn-default btn-back" (click)="closeModal()">Back</button>
    </div>
  </div>
  <div *ngIf="isMobile" class="text-center">
      <div class="text-center">
        <img src="../../assets/icons/doc.png" alt="document" />
      </div>
      <div class="m-3">
        <p class="description">Sorry, this content is locked until the tokensale begins.</p>
      </div>
      <div class="text-center">
        
      </div>
      <div class="mt-5 mb-2">
        <button class="btn btn-default btn-back" (click)="closeModal()">Back</button>
      </div>
    </div>
</div>