.header-section {
    top: 0px;
    position: fixed;
    z-index: 999;
    text-align: center;
    display: block;
    width: 100%;
    background-color: #1c1e33;

    .router-active {
        background: linear-gradient(to top, rgba(44, 221, 251, 0.5), transparent, transparent);
        border-bottom: solid 2px #2cddfb;
    }
    .menu-text {
        padding-left: 5px;
        vertical-align: text-bottom;
        font-size: 16px;
        font-family: "Century Gothic";
        color: #fff;
        line-height: 1.2;
        text-align: left;
        -webkit-font-smoothing: antialiased;
    }

    a.dropdown-item:hover {
        background: none;
    }

    .custom-button {
        cursor: pointer;
        padding: 0 8px;
        .button-image {
            margin-top: -10px;
        }
    }
    .btn-gizer-amount {
        .menu-text {
            font-family: "Century Gothic Bold";
            color: #fff;
            -webkit-font-smoothing: antialiased;
        }
    }
    .btn-etherum-info {
        background-color: #28a103;
        padding: 0px 14px;
        border-radius: 20px;
        .info-text {
            font-family: "Century Gothic";
            color: #fff;
            font-size: 14px;
            -webkit-font-smoothing: antialiased;
        }
    }
    .btn-treasure, .btn-gizer-amount {
        border-right: solid 1px #333548;
    }
    .navbar {
        padding: 0 10%;
        background-color: #151627;
        .navbar-collapse {
            .navbar-nav {
                height: 43px;
                text-align: center;
                padding: 5px;
                li.nav-item {
                    position: relative;
                    img.icon-home {
                        position: absolute;
                        left: 30px;
                        top: 8px;
                    }
                    .nav-home {
                        padding-left: 24px !important;
                    }
                    a.nav-link {
                        cursor: pointer;
                        font-size: 16px;
                        font-family: "Century Gothic";
                        color: #fff;
                        line-height: 1.2;
                        -webkit-font-smoothing: antialiased;
                        padding: 9px 0;
                        width: 128px;
                        border-right: solid 1px #2d2e3d;
                    }
                }
            }
        }
    }
    @media (max-width: 450px) {
        background-color: #151627;
        .site-logo {
            height: 36px;
        }
        .navbar-toggler {
            outline: none;
        }
        .menu-close {
            width: 30px;
        }
        .navbar-toggler-icon {
            color: #fff;
        }
    }
}
.mobile-nav-menu {
    position: fixed;
    right: 0;
    z-index: 1000;
    width: 250px;
    background-color: #151627;
    height: 100vh;
    text-align: center;
    .nav-link {
        color: #fff;
        border-bottom: solid 1px #1c1e33;
        font-size: 18px;
        padding: 20px 0;
    }
}

