<div class="generate-item-page">
  <div class="main-canvas"></div>
  <div class="star-canvas">
    <img class="star" src="/assets/images/img-generate-item-star.png" alt="star">
    <img class="star" src="/assets/images/img-generate-item-star.png" alt="star">
    <img class="star" src="/assets/images/img-generate-item-star.png" alt="star">
    <img class="star" src="/assets/images/img-generate-item-star.png" alt="star">
    <img class="star" src="/assets/images/img-generate-item-star.png" alt="star">
  </div>
  <div class="d-flex justify-content-center">
    <div class="p-5 text-center">
      <h3 class="title">Your GZR has been sent.</h3>
      <h3 class="title">The smart contract has received your order and is producing your treasure!</h3>
      <h3 class="description pb-3">Keep this tab open, you'll be able to open your treasure momentarily.</h3>
    </div>
  </div>
  <div class="d-flex flex-column">
    <div class="img-factory-wrapper">
      <div class="smoke"></div>
      <div class="smokeList">
        <div class="bubble smallBubble"></div>
        <div class="bubble mediumBubble"></div>
        <div class="bubble largeBubble"></div>
      </div>
      <div class="smallSmoke"></div>
      <div class="smallSmokeList">
        <div class="small-bubble small-circle"></div>
        <div class="small-bubble small-circle"></div>
        <div class="small-bubble small-circle"></div>
      </div>
      <img class="img-factory" src="/assets/images/img-generate-item-factory.png" alt="factory">
      <div class="w-100 d-flex flex-column flow-wrapper">
        <div class="row no-gutters">
          <div class="col-6">
            <div class="d-flex align-items-end h-100">
              <img class="gizer-coin position-absolute" src="/assets/images/img-generate-item-gizer-coin.png" alt="gizer-coin">
              <img class="gizer-coin position-absolute" src="/assets/images/img-generate-item-gizer-coin.png" alt="gizer-coin">
              <img class="gizer-coin position-absolute" src="/assets/images/img-generate-item-gizer-coin.png" alt="gizer-coin">
              <img class="gizer-coin position-absolute" src="/assets/images/img-generate-item-gizer-coin.png" alt="gizer-coin">
              <img class="gizer-coin position-absolute" src="/assets/images/img-generate-item-gizer-coin.png" alt="gizer-coin">
              <img class="gizer-coin position-absolute" src="/assets/images/img-generate-item-gizer-coin.png" alt="gizer-coin">
              <img class="gizer-coin position-absolute" src="/assets/images/img-generate-item-gizer-coin.png" alt="gizer-coin">
              <img class="gizer-coin position-absolute" src="/assets/images/img-generate-item-gizer-coin.png" alt="gizer-coin">
              <img class="gizer-coin position-absolute" src="/assets/images/img-generate-item-gizer-coin.png" alt="gizer-coin">
              <img class="gizer-coin position-absolute" src="/assets/images/img-generate-item-gizer-coin.png" alt="gizer-coin">
              <img class="gizer-coin position-absolute" src="/assets/images/img-generate-item-gizer-coin.png" alt="gizer-coin">
            </div>
          </div>
          <div class="col-6">
            <div class="d-flex align-items-end h-100 position-relative">
              <img class="chest position-absolute" src="/assets/images/img-generate-item-chest.png" alt="chest">
              <img class="chest position-absolute" src="/assets/images/img-generate-item-chest.png" alt="chest">
              <img class="chest position-absolute" src="/assets/images/img-generate-item-chest.png" alt="chest">
              <img class="chest position-absolute" src="/assets/images/img-generate-item-chest.png" alt="chest">
            </div>
          </div>
        </div>
      </div>
      <div class="w-100 conveyor-wrapper">
        <div class="gear-wrapper d-flex justify-content-around w-100 position-absolute">
            <img class="gear" src="/assets/images/img-generate-item-gear.png" alt="gear">
            <img class="gear" src="/assets/images/img-generate-item-gear.png" alt="gear">
            <img class="gear" src="/assets/images/img-generate-item-gear.png" alt="gear">
            <img class="gear" src="/assets/images/img-generate-item-gear.png" alt="gear">
            <img class="gear" src="/assets/images/img-generate-item-gear.png" alt="gear">
            <img class="gear" src="/assets/images/img-generate-item-gear.png" alt="gear">
            <img class="gear" src="/assets/images/img-generate-item-gear.png" alt="gear">
            <img class="gear" src="/assets/images/img-generate-item-gear.png" alt="gear">
            <img class="gear" src="/assets/images/img-generate-item-gear.png" alt="gear">
            <img class="gear" src="/assets/images/img-generate-item-gear.png" alt="gear">
            <img class="gear" src="/assets/images/img-generate-item-gear.png" alt="gear">
            <img class="gear" src="/assets/images/img-generate-item-gear.png" alt="gear">
            <img class="gear" src="/assets/images/img-generate-item-gear.png" alt="gear">
            <img class="gear" src="/assets/images/img-generate-item-gear.png" alt="gear">
        </div>
        <img class="w-100 h-100" src="/assets/images/img-generate-item-conveyor.png" alt="conveyor">
      </div>
    </div>
    <div class="background-block">
      <div class="py-5 text-center">
        <span class="btn-go-back">Go back</span>
      </div>
    </div>
  </div>
</div>
