<div class="save-account p-5">
  <div class="container">
    <div class="row justify-content-center">
      <h3 class="title w-100 text-center">One last thing...</h3>
      <p class="description">We need an email address for your account</p>
    </div>
    <div *ngIf="!loaded" class="row justify-content-center">
      Loading from MetaMask...
    </div>
    <div *ngIf="loaded" class="row justify-content-center">
      <div class="col-md-8">
        <div class="form-detail-info py-5 w-100">
          <form [formGroup]="accountInfo" novalidate>
            <div class="form-group">
              <label class="center-block w-100 input-label">Wallet Address:
                <input
                  class="form-control input-info mt-2"
                  formControlName="walletAddress"
                >
              </label>
            </div>
            <div class="form-group">
              <label class="center-block w-100 input-label">Email:
                <input
                  class="form-control input-info mt-2"
                  formControlName="email"
                  placeholder="email@company.com"
                >
              </label>
            </div>
            <div class="form-group">
              <label class="center-block w-100 input-label">Nickname:
                <input
                  class="form-control input-info mt-2"
                  formControlName="nickName"
                  placeholder="John Apple Seed"
                >
              </label>
            </div>
            <div class="notice-block mt-4 mb-5">
              <div class="content px-5 py-4">
                <p class="description text-center m-0">Make sure to save your MetaMask login information and account recovery details! We can't help you regain access if you lose them.</p>
              </div>
            </div>
            <div class="save-info-block text-center">
              <div *ngIf="!isSaving" class="save-info mb-3" (click)="onSaveInfo()">
                <span class="btn-save-info">Save account info</span>
              </div>
              <div *ngIf="isSaving" class="save-info disabled mb-3">
                <span class="btn-save-info">Updating Accounts...</span>
              </div>
            </div>
            <div *ngIf="isSaving" class="warn-section">
              <div class="link-trouble">
                <p class="description text-center">Help! I am having trouble sign in.</p>
              </div>
              <div class="notice-block mt-4 mb-5">
                <div class="content px-5 py-4">
                  <p class="description text-center m-0">Uh-Oh, Sign in is taking a while. Checking MetaMask and click "Sign In" If you don't see anything, refresh and try again.</p>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>