<div class="buy-gzr mb-5">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-6">
        <div class="row justify-content-md-center">
          <h3 class="title pt-5 pb-4">Buy GZR</h3>
        </div>
        <div class="row justify-content-md-center pb-4">
          <div class="border border-secondary p-5 w-100 text-center">
            <span class="gizer-value align-middle">10,000 GZR</span>
            <span class="align-middle pl-3"><img src="/assets/icons/icon-gizer-big.png"></span>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="border border-secondary p-3 w-100">
            <div class="p-4 mb-4 description">
              <p class="description-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
              <p class="description-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has.</p>
              <p class="description-text">typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
            </div>
            <div class="row justify-content-between">
              <div class="col-md-5">
                <div class="row no-gutters">
                  <span class="col-md-4">
                    <div class="label h-100 py-1">
                      <img class="pl-2 pr-1 align-middle" src="/assets/icons/icon-gizer-small.png"><span class="unit-text align-middle">GZR</span>
                    </div>
                  </span>
                  <span class="col-md-8">
                    <input class="w-100 pl-2 input-amount" type="text" value="0">
                  </span>
                </div>
              </div>
              <div class="col-md-1">
                <span class="txt-equal">=</span>
              </div>
              <div class="col-md-5">
                <div class="row no-gutters">
                  <span class="col-md-4">
                    <div class="label h-100 py-1">
                      <img class="pl-2 pr-1 align-middle" src="/assets/icons/icon-etherum.png"><span class="unit-text align-middle">GZR</span>
                    </div>
                  </span>
                  <span class="col-md-8">
                    <input class="w-100 pl-2 input-amount" type="text" value="0">
                  </span>
                </div>
              </div>
            </div>
            <div class="row justify-content-md-center">
              <div class="col-md-4">
                <span class="btn-buy-now"><img class="mt-4 mb-2" src="/assets/images/btn-buy-now.png"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>