<div class="buy-gzr mb-5">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-5">
        <div class="row justify-content-md-center">
          <h3 class="title pt-5 pb-4">My GZR Balance</h3>
        </div>
        <div class="row justify-content-md-center pb-4">
          <div class="gizer-value-wrapper border border-secondary p-5 w-100 text-center">
            <span class="gizer-value align-middle">10,000 GZR</span>
            <span class="align-middle pl-3"><img src="/assets/icons/icon-gizer-big.png"></span>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="buy-gzr-wrapper border border-secondary p-3 w-100">
            <div class="p-3 mb-4 description">
              <p class="description-text">Here is where you can purchase GZR tokens using Ethereum (ETH) and MetaMask. GZR tokens can be used to unlock unique, collectible items for your Global Gaming Identity. These items exist on the Ethereum blockchain and once unlocked, are yours forever (unless you trade them to someone else). </p>
              <p class="strong-text">The price of GZR is 1000 GZR per 1 ETH.</p>
              <p class="description-text">In order to purchase GZR, you must have MetaMask installed and must have ETH in your wallet.If you purchase using ETH and MetaMask, you will instantly receive your GZR tokens.</p>
              <p class="description-text">To purchase, simply type in the number of GZR you would like to purchase and hit the “Buy GZR” button. A signed MetaMask transaction will be generated for you, all you need to do is click Accept and your ETH will be sent to our smart contract. Shortly after, you will receive GZR tokens right in your MetaMask.</p>
            </div>
            <div class="row justify-content-between">
              <div class="col-md-5">
                <div class="row no-gutters">
                  <span class="col-md-5">
                    <div class="label h-100 py-1">
                      <img class="pl-2 pr-1 align-middle" src="/assets/icons/icon-gizer-small.png"><span class="unit-text align-middle">GZR</span>
                    </div>
                  </span>
                  <span class="col-md-7">
                    <input class="w-100 pl-2 input-amount" type="text" value="0">
                  </span>
                </div>
              </div>
              <div class="col-md-1">
                <span class="txt-equal">=</span>
              </div>
              <div class="col-md-5">
                <div class="row no-gutters">
                  <span class="col-md-5">
                    <div class="label h-100 py-1">
                      <img class="pl-2 pr-1 align-middle" src="/assets/icons/icon-etherum.png"><span class="unit-text align-middle">ETH</span>
                    </div>
                  </span>
                  <span class="col-md-7">
                    <input class="w-100 pl-2 input-amount" type="text" value="0">
                  </span>
                </div>
              </div>
            </div>
            <div class="row justify-content-md-center">
              <div class="col-md-4">
                <span class="btn-buy-now"><img class="mt-4 mb-2" src="/assets/images/btn-buy-now.png"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>