.locked-meta {
    .title {
        h2 {
            font-size: 30px;
            font-family: "Century Gothic Bold";
            color: #3171a2;
        }
    }
    .description {
        font-size: 21px;
        font-family: "Century Gothic";
    }
    .btn-unlock-meta-mask {
        img {
            cursor: pointer;
        }
    }
}