<div class="install-mask-modal">
  <div *ngIf="!isMobile" class="modal-body text-center">
    <div class="gizer-mask m-4 mb-5">
      <img src="/assets/images/img-meta-mask-gizer.png">
    </div>
    <div class="mb-5 px-4">
      <p class="description mb-4">We strongly recommended using <strong>Metamask</strong> to purchase GZR. It is a secure cryptocurrency wallet for Ethereum built right into your browser.</p>
      <p class="description px-5">Installing MetaMask will give you ability to immediately use your GZR to unlock intems for your GGID avatar. It will also act as your login to our website, giving you access to our referral system, priority curtomer support and more.</p>
    </div>
    <div class="mb-3">
      <span class="btn-install-metamask" (click)="navigateToMetaMaskIO()">Install MetaMask</span>
      <p class="btn-refresh-page" (click)="refreshMetaMask()">I already installed MetaMask</p>
    </div>
    <div class="questions-wrapper mb-5">
      <a (click)="navigateToFAQ()" class="link">Have a questions? Visit our FAQ</a>
    </div>
    <div class="option-wrapper px-5 pb-5">
      <p class="heading mb-0">Want to send ETH from another wallet?</p>
      <p class="sub-description">(You'll need MetaMask to use GZR and unlock items. You should really install it now!)</p>
      <a class="link" (click)="showAddressForm()">I want to see the contract address</a>
    </div>
  </div>
  <div *ngIf="isMobile" class="modal-body text-center">
    <div class="gizer-mask">
      <img src="/assets/images/img-meta-mask-gizer.png">
    </div>
    <div class="mb-4">
      <p class="description mb-4">We strongly recommended using <strong>Metamask</strong> to purchase GZR. It is a secure cryptocurrency wallet for Ethereum built right into your browser.</p>
      <p class="description">Installing MetaMask will give you ability to immediately use your GZR to unlock intems for your GGID avatar. It will also act as your login to our website, giving you access to our referral system, priority curtomer support and more.</p>
    </div>
    <div class="mb-3">
      <span class="btn-install-metamask" (click)="navigateToMetaMaskIO()">Install MetaMask</span>
      <p class="btn-refresh-page" (click)="refreshMetaMask()">I already installed MetaMask</p>
    </div>
    <div class="questions-wrapper mb-1">
      <a (click)="navigateToFAQ()" class="link">Have a questions? Visit our FAQ</a>
    </div>
    <div class="option-wrapper pb-2">
      <p class="heading mb-0">Want to send ETH from another wallet?</p>
      <p class="sub-description">(You'll need MetaMask to use GZR and unlock items. You should really install it now!)</p>
      <a class="link" (click)="showAddressForm()">I want to see the contract address</a>
    </div>
</div>