<div class="install-mask-modal">
  <div *ngIf="!isMobile" class="modal-body text-center">
    <div class="gizer-mask m-4 mb-5">
      <div class="install-mask-header">
        <p>Install MetaMask to:</p>
        <ul class="guide-list">
          <li class="guide-item">Securely Purchase GZR</li>
          <li class="guide-item">Open Treasures</li>
          <li class="guide-item">Unlock Items</li>
          <li class="guide-item">Build Your Profile</li>
        </ul>
      </div>
      <img src="/assets/images/img-meta-mask-gizer.png" alt="metamask">
    </div>
    <div class="mb-5 px-4">
      <p class="description mb-4">We strongly recommended using <strong>Metamask</strong> to interact with our web platform. It’s a secure Ethereum wallet built right into your browser…you need somewhere safe to store all of your items! MetaMask will also act as your login which means no extra password is needed.</p>
    </div>
    <div class="mb-3">
      <span class="btn-install-metamask" (click)="navigateToMetaMaskIO()">Install MetaMask</span>
      <p class="btn-refresh-page" (click)="refreshMetaMask()">I already installed MetaMask</p>
    </div>
    <div class="questions-wrapper mb-5">
      <a (click)="navigateToFAQ()" class="link">Have a questions? Visit our FAQ</a>
    </div>
    <div class="option-wrapper px-5 pb-5">
      <p class="heading mb-0">Want to send ETH from another wallet?</p>
      <p class="sub-description">(You’ll need MetaMask to use GZR to unlock items. We really recommend to install it now)</p>
      <a class="link" (click)="showAddressForm()">I want to see the contract address</a>
    </div>
  </div>
  <div *ngIf="isMobile" class="modal-body text-center">
    <div class="gizer-mask">
      <img src="/assets/images/img-meta-mask-gizer.png" alt="metamask">
    </div>
    <div class="mb-4">
        <p class="description mb-4">We strongly recommended using <strong>Metamask</strong> to interact with our web platform. It’s a secure Ethereum wallet built right into your browser…</p>
        <p class="description px-5">you need somewhere safe to store all of your items! MetaMask will also act as your login which means no extra password is needed.</p>
    </div>
    <div class="mb-3">
      <span class="btn-install-metamask" (click)="navigateToMetaMaskIO()">Install MetaMask</span>
      <p class="btn-refresh-page" (click)="refreshMetaMask()">I already installed MetaMask</p>
    </div>
    <div class="questions-wrapper mb-1">
      <a (click)="navigateToFAQ()" class="link">Have a questions? Visit our FAQ</a>
    </div>
    <div class="option-wrapper pb-2">
      <p class="heading mb-0">Want to send ETH from another wallet?</p>
      <p class="sub-description">(You’ll need MetaMask to use GZR to unlock items. We really recommend to install it now)</p>
      <a class="link" (click)="showAddressForm()">I want to see the contract address</a>
    </div>
</div>