<div class="partners-list-section">
  <div class="container">
    <div class="title-section">
      <h2>Partners</h2>
    </div>
    <div class="partners-logo">
      <div class="row align-items-center partners">
        <div class="col-sm-4">
          <a href="https://www.cooley.com/" target="_blank">
            <img class="img-responsive pull-right" src="assets/images/cooley.png" alt="">
          </a>
        </div>
        <div class="col-sm-4">
          <a href="https://www.gazecoin.io/" target="_blank">
            <img class="img-responsive" src="assets/images/gaze.png" alt="">
          </a>
        </div>
        <div class="col-sm-4">
            <a href="http://themonetizr.com/" target="_blank">
              <img class="img-responsive" src="assets/images/themonetzr.png" alt="">
            </a>
          </div>
      </div>
      <div class="row align-items-center partners">
        <div class="col-sm-4">
          <a href="http://www.iscoolentertainment.com/" target="_blank">
            <img class="img-responsive pull-right" src="assets/images/is-cool.png" alt=""> </a>
        </div>
        <div class="col-sm-4">
          <a href="https://saftlaunch.com" target="_blank">
            <img class="img-responsive" src="assets/images/saftlaunch.png" alt="">
          </a>
        </div>
        <div class="col-sm-4">
          <a href="https://home.tapjoy.com/" target="_blank">
            <img class="img-responsive" src="assets/images/tapjoy.png" alt="">
          </a>
        </div>
      </div>
      <div class="row align-items-center justify-content-sm-center partners">
        <div class="col-sm-4">
          <a href="https://www.omniamedia.co/gaming/" target="_blank">
            <img class="img-responsive pull-right" src="assets/images/omnia-media.png" alt=""> </a>
        </div>
        <div class="col-sm-4">
          <a href="https://reality-clash.com/" target="_blank">
            <img class="img-responsive lastimg" src="assets/images/reality-clash.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

