.open-treasure {
    -webkit-font-smoothing: antialiased;
    .treasure-section {
        border-bottom: solid 1px #353749;
        .title {
            font-size: 22px;
            font-family: "Century Gothic";
            color: #ffffff;
        }
    }
    .gallery-title {
        font-size: 18px;
        font-family: "Century Gothic Bold";
        color: #7777a9;
    }
}