.open-treasure {
    -webkit-font-smoothing: antialiased;
    .treasure-section {
        border-bottom: solid 1px #353749;
        .title {
            font-size: 22px;
            font-family: "Century Gothic";
            color: #ffffff;
        }
    }
}