.hero-slider {
    max-height: 450px;
    .btn-buy-gzr {
        cursor: pointer;
    }
    .item-0 {
        position: absolute;
        top: 63%;
        left: calc(50% - 108px);
    }
    .item-1 {
        position: absolute;
        top: 60%;
        left: 10%;
    }
    .item-2 {
        position: absolute;
        top: 63%;
        left: calc(50% - 108px);
    }
    .carousel {
        .slick-slide img {
            max-height: 450px;
        }
        .slick-dots {
            bottom: 25px;
            .slick-active {
                background: #fff;
            }
            li {
                background: #010102;
                border-radius: 50%;
                width: 16px;
                height: 16px;
                margin: 0 8px;
                button {
                    width: 16px;
                    height: 16px;
                    &:before {
                        display: none;
                    }
                }
            }
        }
    }
}