<div class="hero-slider">
  <ngx-slick
    *ngIf="!isMobile"
    class="carousel"
    #slickModal="slick-modal"
    [config]="slideConfig"
    >
    <div ngxSlickItem class="slide-1">
      <div class="center-title text-center">
        <img class="title d-inline-block" src="/assets/images/banners/img-banner1-title.png" alt="banner image">
        <img
          id="buygzr-slider"
          class="btn-buy-gzr pt-5"
          src="/assets/images/btn-buy-gzr.png"
          (click)="navigateToBuyGzr()"
        >
        </div>
      <div class="weapons">
        <div class="left-weapon float-left">
          <img src="/assets/images/banners/img-banner1-left-weapons.png" alt="weapons">
        </div>
        <div class="right-weapon float-right">
          <img src="/assets/images/banners/img-banner1-right-weapons.png" alt="weapons">
        </div>
      </div>
    </div>
    <div ngxSlickItem class="slide-2">
        <div class="center-title text-center">
          <img class="title d-inline-block" src="/assets/images/banners/img-banner2-title.png" alt="banner image">
          <img
            id="buygzr-slider"
            angulartics2On="click" 
            angularticsLabel="buygzr-slider" 
            angularticsValue="Buygzr Slider" 
            class="btn-buy-gzr pt-5"
            src="/assets/images/btn-buy-gzr.png"
            (click)="navigateToBuyGzr()"
          >
          </div>
        <div class="weapons d-flex flex-row justify-content-between align-bottom">
          <div class="left-weapon d-flex flex-row justify-content-between align-bottom">
            <img src="/assets/images/banners/img-banner2-left-weapons.png" alt="weapons">
          </div>
          <div class="right-weapon">
            <img src="/assets/images/banners/img-banner2-right-weapons.png" alt="weapons">
          </div>
        </div>
    </div>
    <div ngxSlickItem class="slide-3">
      <div class="center-title text-center">
        <img class="title d-inline-block" src="/assets/images/banners/img-banner3-title.png" alt="banner image">
        <img
          id="buygzr-slider"
          class="btn-buy-gzr pt-5"
          src="/assets/images/btn-buy-gzr.png"
          (click)="navigateToBuyGzr()"
        >
      </div>
      <div class="weapons">
        <div class="left-weapon float-left">
          <img src="/assets/images/banners/img-banner3-left-gizer.png" alt="left">
        </div>
        <div class="right-weapon float-right">
          <img src="/assets/images/banners/img-banner3-right-ether.png" alt="right">
        </div>
      </div>
    </div>
  </ngx-slick>
  <ngx-slick
    *ngIf="isMobile"
    class="carousel"
    #slickModal="slick-modal"
    [config]="mobileSlideConfig"
    >
    <div ngxSlickItem *ngFor="let slide of slides">
      <div class="center-title text-center">
        <img
          id="buygzr-slider"
          src="{{slide.imgUrl}}"
          (click)="navigateToBuyGzr()"
        >
      </div>
    </div>
  </ngx-slick>
</div>