<div class="install-meta pb-5">
  <div class="row justify-content-center">
    <div class="title pt-4">
      <h2>Want GZR?</h2>
    </div>
    <div class="description p-4">
      <p class="text-center">You'll need somewhere safe to store all of your GGiD items! A secure wallet like MetaMask is the perfect place for your GZR and your items. MetaMask will also act as your login which means no extra password is needed.</p>
    </div>
    <div class="btn-install-meta-mask my-4">
      <span class="btn-meta-mask">Install Metamask</span>
    </div>
  </div>
</div>