<div class="install-meta pb-5">
  <div class="row justify-content-center">
    <div class="gizer-mask m-4 mb-5">
      <div class="install-mask-header">
        <p>Install MetaMask to:</p>
        <ul class="guide-list">
          <li class="guide-item">Securely Purchase GZR</li>
          <li class="guide-item">Open Treasures</li>
          <li class="guide-item">Unlock Items</li>
          <li class="guide-item">Build Your Profile</li>
        </ul>
      </div>
      <img src="/assets/images/img-meta-mask-gizer.png">
    </div>
    <div class="mb-5 px-4">
      <p class="description mb-4">We strongly recommended using <strong>Metamask</strong> to interact with our web platform. It’s a secure Ethereum wallet built right into your browser…you need somewhere safe to store all of your items! MetaMask will also act as your login which means no extra password is needed.</p>
    </div>
    <div class="btn-install-meta-mask my-4">
      <span class="btn-meta-mask" (click)="navigateToMetaMaskIO()">Install Metamask</span>
    </div>
  </div>
</div>