:host {
  display: block;
}
.no-padding {
  padding: 0;
}
.page-content {
  margin-top: 123px;
  -webkit-font-smoothing: antialiased;
}
@media (max-width: 450px) {
  .page-content {
    margin-top: 52px;
    overflow: hidden;
  }
}