.gzr-token {
    padding-top: 40px;
    padding-bottom: 40px;
    .section-header {
        display: inline-block;
        vertical-align: middle;
        padding-left: 18px;
        font-size: 30px;
        font-family: "Century Gothic";
        color: #ffffff80;
        text-transform: uppercase;
    }
    .text_content {
        margin-top: 40px;
        margin-bottom: 50px;
        font-size: 18px;
        font-family: "Century Gothic";
        color: #ffffff80;
        -webkit-font-smoothing: antialiased;
    }
    .pdf_btn {
        #techoverview, #gzrterms {
            padding: 11px 20px;
            border-radius: 20px;
            background: #ffffff;
            font-size: 18px;
            font-family: "Century Gothic";
            color: #626674;
            img {
                vertical-align: top;
            }
            span {
                vertical-align: top;
                padding-left: 10px;
                -webkit-font-smoothing: antialiased;
            }
        }
    }
    .img-group {
        padding: 20px;
    }
    .item_type {
        h4 {
            font-size: 17px;
            margin-bottom: 16px;
            margin-left: 10px;
            font-family: "Century Gothic";
            color: #b6b9df;
            text-transform: uppercase;
        }
        h5 {
            font-size: 16px;
            margin-top: 10px;
            font-family: "Century Gothic";
            color: #b6b9df;
        }
    }
    @media (max-width: 450px) {
        padding: 20px 0;
        .img-responsive {
            height: 28px;
        }
        .section-header {
            h2 {
                font-size: 14px;
                font-family: "Century Gothic Bold";
            }
        }
        .text_content {
            margin-top: 20px;
            margin-bottom: 30px;
            font-size: 13px;
        }
        .pdf_btn {
            margin-bottom: 20px;
            text-align: left !important;
            a {
                font-size: 14px !important;
                padding: 10px 16px !important;
                .img-responsive {
                    height: 24px !important;
                }
            }
        }
        .img-group {
            padding: 0 !important;
            margin-top: 20px;
            .mobileimgg {
                height: 100% !important;
            }
        }
        .item_type {
            h4 {
                font-size: 15px;
                margin: 15px -10px;
                font-family: "Century Gothic Bold";
            }
            h5 {
                font-size: 14px;
            }
            img {
                width: 100%;
                padding: 0 5px;
            }
            .no-padding {
                padding: 0 !important;
            }
        }
        
    }
}
  