<div class="gzr-token">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <img class="img-responsive pull-left" src="assets/images/gzr-token-section-5.png" alt="">
        <div class="section-header">
          <h2 class="section-title">The GZR Token</h2>
        </div>
        <div class="text_content">
          <p class="text-justify">The GZR token represents a building block to a user’s profile on the Ethereum network. Each token represents an unlockable profile item in an "unknown" state. The user can unlock tokens at any time, resulting in a randomized profile item being unlocked which can be applied to the user’s Global Gaming Identity. The rarity and type of the item is completely random and decided only after the user decides to unlock it.</p>
          <p class="text-justify">Users can collect items for rank, statistics, and customize their avatars to gain prestige within the community. As our network grows, we will encourage game developers and other applications to leverage our Global Gaming Identity.</p>
        </div>
        <div class="pdf_btn">
          <a id="techoverview" href="https://medium.com/gizer/gzr-tech-overview-bc7ae9755b0" target="_blank">
            <img class="img-responsive" src="assets/images/pdf.png" alt="">
            <span>Tech Overview</span>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="img-group">
          <div class="row">
            <div class="col-12 col-sm-12">
              <img class="img-responsive mobileimgg w-100" src="assets/images/revision.png" alt="">
            </div>            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
