

    	 <div id="wrapper">
			  <div class="carrousel">
			      <div class="plan p1"><img src="/assets/images/weapons/1.png" class="img-fluid" alt="weapons"></div>
			      <div class="plan p2"><img src="/assets/images/weapons/2.png" class="img-fluid" alt="weapons"></div>
			      <div class="plan p3"><img src="/assets/images/weapons/3.png" class="img-fluid" alt="weapons"></div>
			      <div class="plan p4"><img src="/assets/images/weapons/4.png" class="img-fluid" alt="weapons"></div>
			      <div class="plan p5"><img src="/assets/images/weapons/5.png" class="img-fluid" alt="weapons"></div>
			      <div class="plan p6"><img src="/assets/images/weapons/6.png" class="img-fluid" alt="weapons"></div>
			      <div class="plan p7"><img src="/assets/images/weapons/7.png" class="img-fluid" alt="weapons"></div>
			      <div class="plan p8"><img src="/assets/images/weapons/8.png" class="img-fluid" alt="weapons"></div>
			  </div>
			</div>




