<div class="inventory-list">
  <div class="container">
    <div class="list-title">
      <p>Just Released</p>
    </div>
    <div class="row justify-content-center position-relative">
      <app-item
        class="item-wrapper"
        *ngFor="let item of items; let i = index"
        [index]="i"
        [itemImageLink]="item.resources.images[0]"
        [itemName]="item.meta.name"
        >
      </app-item>
      <div class="arrow pl-2">
        <span class="arrow-padding" (click)="loadNextWeapons()">
          <img src="/assets/icons/icon-greater-than.png">
        </span>
      </div>
    </div>
  </div>
</div>

