.inventory-list {
    .list-title {
        font-size: 18px;
        font-family: "Century Gothic";
        color: #ffffff;
        line-height: 1.2;
        margin-bottom: 30px;
        margin-left: 20px;
    }
    .item-wrapper {
        width: 20%;
    }
    .arrow {
        position: absolute;
        right: 0;
        top: 44%;
        text-align: center;
        .arrow-padding {
            cursor: pointer;
            position: absolute;
            top: 35%;
            padding-top: 12px;
            padding-left: 5px;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
}