.inventory-list {
    .list-title {
        font-size: 18px;
        font-family: "Century Gothic";
        color: #ffffff;
        line-height: 1.2;
        margin-bottom: 30px;
        margin-left: 20px;
    }
}