<div class="treasure">
  <div class="row justify-content-between">
    <div class="col-md-6">
      <img class="h-100 w-100 py-3 py-md-0" src="/assets/images/treasure-box.png">
    </div>
    <div class="col-md-6">
      <div class="treasure-info-box p-3 p-md-4 text-center">
        <h3 class="title mb-2 mb-md-4">The Founders Edition</h3>
        <p class="description mb-2 mb-md-4">
            The Founder's Edition is Gizer's first and most scarce set of items designed for our initial GZR token buyers. There will be many more editions available in the future; some coming from game developers, 3D artists, and licensed gaming items. However, this specific edition is exclusively available for 25 days. The Founder's Edition marks history in Gizer...consider yourself OG.
        </p>
        <div class="open-treasure-button-deco p-3 pt-md-4 pb-md-3">
          <div class="open-treasure-button-img mb-2">
            <img id="opentreasure-tx-init" (click)="openTreasure()" src="/assets/images/btn-open-treasure.png">
          </div>
          <div class="gizer-price">
            <img src="/assets/icons/icon-gizer-gold.png">
            <span class="gizer-price align-middle pl-1">1</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>