<div class="treasure">
  <div class="row justify-content-between">
    <div class="col-md-6">
      <img class="h-100 w-100" src="/assets/images/treasure-box.png">
    </div>
    <div class="col-md-6">
      <div class="treasure-info-box p-5 text-center">
        <h3 class="title mb-4">Title Goes Here</h3>
        <p class="description mb-4">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an.
        </p>
        <div class="open-treasure-button-deco pt-4 pb-3">
          <div class="open-treasure-button-img mb-4">
            <img (click)="openTreasure()" src="/assets/images/btn-open-treasure.png">
          </div>
          <div class="gizer-price">
            <img src="/assets/icons/icon-gizer-gold.png">
            <span class="gizer-price align-middle pl-1">1</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
