<div class="meet-team">
  <div class="team-page">
    <div class="container">
      <div class="row justify-content-center py-3 py-md-5">
        <h3 class="title">TEAM</h3>
      </div>
      <div class="row justify-content-between mb-md-5">
        <div class="col-4 col-md-2">
          <div class="person-card mb-4 mb-md-0">
            <div class="img-person text-center">
              <img src="/assets/images/photos/jack-lamir.png" alt="jack lamir">
            </div>
            <div class="person-info text-center">
              <p class="name mt-2 mt-md-3 mb-0">Jack Lamir</p>
              <p class="role m-0">CEO</p>
              <a href="https://www.linkedin.com/in/jack-l-61a16696/" target="_blank">
                <img class="icon-linkedin m-md-2" src="/assets/icons/icon-linkedin.png" alt="linkedin icon">
              </a>
            </div>
          </div>
        </div>
        <div class="col-4 col-md-2">
          <div class="person-card mb-4 mb-md-0">
            <div class="img-person text-center">
              <img src="/assets/images/photos/gabe-s.png" alt="gabe steinberg">
            </div>
            <div class="person-info text-center">
              <p class="name mt-2 mt-md-3 mb-0">Gabe Steinberg</p>
              <p class="role m-0 left-sm-adjust">Product Development</p>
              <a href="https://www.linkedin.com/in/gabesteinberg/" target="_blank">
                <img class="icon-linkedin m-md-2" src="/assets/icons/icon-linkedin.png" alt="linkedin icon">
              </a>
            </div>
          </div>
        </div>
        <div class="col-4 col-md-2">
          <div class="person-card mb-4 mb-md-0">
            <div class="img-person text-center">
              <img src="/assets/images/photos/brendan-w.png" alt="brendan weinstein">
            </div>
            <div class="person-info text-center">
              <p class="name mt-2 mt-md-3 mb-0">Brendan Weinstein</p>
              <p class="role m-0 left-sm-adjust">Business Development</p>
              <a href="https://www.linkedin.com/in/brendanweinstein/" target="_blank">
                <img class="icon-linkedin m-md-2" src="/assets/icons/icon-linkedin.png" alt="linkedin icon">
              </a>
            </div>
          </div>
        </div>
        <div class="col-4 col-md-2">
          <div class="person-card mb-4 mb-md-0">
            <div class="img-person text-center">
              <img src="/assets/images/photos/felix-d.png" alt="felix dragoi">
            </div>
            <div class="person-info text-center">
              <p class="name mt-2 mt-md-3 mb-0">Felix Dragoi</p>
              <p class="role m-0">Data Modeling</p>
              <a href="https://www.linkedin.com/in/felixdragoi/" target="_blank">
                <img class="icon-linkedin m-md-2" src="/assets/icons/icon-linkedin.png" alt="linkedin icon">
              </a>
            </div>
          </div>
        </div>
        <div class="col-4 col-md-2">
          <div class="person-card mb-4 mb-md-0">
            <div class="img-person text-center">
              <img src="/assets/images/photos/nick-s.png" alt="nick scannavino">
            </div>
            <div class="person-info text-center">
              <p class="name mt-2 mt-md-3 mb-0">Nick Scannavino</p>
              <p class="role m-0">Legal</p>
              <a href="https://www.linkedin.com/in/nick-scannavino-0a590b38/" target="_blank">
                <img class="icon-linkedin m-md-2" src="/assets/icons/icon-linkedin.png" alt="linkedin icon">
              </a>
            </div>
          </div>
        </div>
        <div class="col-4 col-md-2 visible-mobile">
          <div class="person-card mb-4 mb-md-0">
            <div class="img-person text-center">
              <img src="/assets/images/photos/jack-t.png" alt="jack trefon">
            </div>
            <div class="person-info text-center">
              <p class="name mt-2 mt-md-3 mb-0">Jack Trefon</p>
              <p class="role m-0">Software Lead</p>
              <a href="https://www.linkedin.com/in/jtrefon/" target="_blank">
                <img class="icon-linkedin m-md-2" src="/assets/icons/icon-linkedin.png" alt="linkedin icon">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center justify-content-md-between mb-md-5">
        <div class="col-4 col-md-2 hidden-mobile">
          <div class="person-card mb-4 mb-md-0">
            <div class="img-person text-center">
              <img src="/assets/images/photos/jack-t.png" alt="jack trefon">
            </div>
            <div class="person-info text-center">
              <p class="name mt-2 mt-md-3 mb-0">Jack Trefon</p>
              <p class="role m-0">Software Lead</p>
              <a href="https://www.linkedin.com/in/jtrefon/" target="_blank">
                <img class="icon-linkedin m-md-2" src="/assets/icons/icon-linkedin.png" alt="linkedin icon">
              </a>
            </div>
          </div>
        </div>
        <div class="col-4 col-md-2">
          <div class="person-card mb-4 mb-md-0">
            <div class="img-person text-center">
              <img src="/assets/images/photos/ak-k.png" alt="akhmad khoirudin">
            </div>
            <div class="person-info text-center">
              <p class="name mt-2 mt-md-3 mb-0">Akhmad Khoirudin</p>
              <p class="role m-0">UI/UX</p>
              <a href="https://www.linkedin.com/in/akhmadkhoirudin/" target="_blank">
                <img class="icon-linkedin m-md-2" src="/assets/icons/icon-linkedin.png" alt="linkedin icon">
              </a>
            </div>
          </div>
        </div>
        <div class="col-4 col-md-2">
          <div class="person-card mb-4 mb-md-0">
            <div class="img-person text-center">
              <img src="/assets/images/photos/saad-m.png" alt="saad malik">
            </div>
            <div class="person-info text-center">
              <p class="name mt-2 mt-md-3 mb-0">Saad Malik</p>
              <p class="role m-0 left-sm-adjust">Backend Development</p>
              <a href="https://www.linkedin.com/in/saad-malik-2074597a/" target="_blank">
                <img class="icon-linkedin m-md-2" src="/assets/icons/icon-linkedin.png" alt="linkedin icon">
              </a>
            </div>
          </div>
        </div>
        <div class="col-4 col-md-2">
          <div class="person-card mb-4 mb-md-0">
            <div class="img-person text-center">
              <img src="/assets/images/photos/abel-c.png" alt="abel czupor">
            </div>
            <div class="person-info text-center">
              <p class="name mt-2 mt-md-3 mb-0">Ábel Czupor</p>
              <p class="role m-0">Growth</p>
              <a href="https://www.linkedin.com/in/%C3%A1bel-czupor-8a28a9128/" target="_blank">
                <img class="icon-linkedin m-md-2" src="/assets/icons/icon-linkedin.png" alt="linkedin icon">
              </a>
            </div>
          </div>
        </div>
        <div class="col-4 col-md-2">
          <div class="person-card mb-4 mb-md-0">
            <div class="img-person text-center">
              <img src="/assets/images/photos/ge-v.png" alt="george van hoomissen">
            </div>
            <div class="person-info text-center">
              <p class="name mt-2 mt-md-3 mb-0 left-adjust">George Van Hoomissen</p>
              <p class="role m-0 left-adjust-10">Ethereum Development</p>
              <a href="https://www.linkedin.com/in/george-k-van-hoomissen-128ba8127/" target="_blank">
                <img class="icon-linkedin m-md-2" src="/assets/icons/icon-linkedin.png" alt="linkedin icon">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Advisory Section -->
  <div class="advisory-page py-2 py-md-5">
    <div class="container">
      <div class="row justify-content-center py-3 py-md-5">
        <h3 class="title">Advisory</h3>
      </div>
      <div class="row justify-content-between mb-md-5">
        <div class="col-4 col-md-2">
          <div class="person-card mb-4 mb-md-0">
            <div class="img-person text-center">
              <img src="/assets/images/photos/david-d.png" alt="david drake">
            </div>
            <div class="person-info text-center">
              <p class="name mt-2 mt-md-3 mb-0">David Drake</p>
              <p class="role m-0">Financial Advisor</p>
              <a href="https://www.linkedin.com/in/ldjcapital/" target="_blank">
                <img class="icon-linkedin m-md-2" src="/assets/icons/icon-linkedin.png" alt="linkedin icon">
              </a>
            </div>
          </div>
        </div>
        <div class="col-4 col-md-2">
          <div class="person-card mb-4 mb-md-0">
            <div class="img-person text-center">
              <img src="/assets/images/photos/josh-g.png" alt="josh garcia">
            </div>
            <div class="person-info text-center">
              <p class="name mt-2 mt-md-3 mb-0">Josh Garcia</p>
              <p class="role m-0">Legal Counsel</p>
              <a href="https://www.linkedin.com/in/joshgarcia27/" target="_blank">
                <img class="icon-linkedin m-md-2" src="/assets/icons/icon-linkedin.png" alt="linkedin icon">
              </a>
            </div>
          </div>
        </div>
        <div class="col-4 col-md-2">
          <div class="person-card mb-4 mb-md-0">
            <div class="img-person text-center">
              <img src="/assets/images/photos/erik-w.png" alt="erik wachtmeister">
            </div>
            <div class="person-info text-center">
              <p class="name mt-2 mt-md-3 mb-0">Erik Wachtmeister</p>
              <p class="role m-0 left-adjust-25 left-adjust">Social Networking Advisory</p>
              <a href="https://www.linkedin.com/in/erikwachtmeister/" target="_blank">
                <img class="icon-linkedin m-md-2" src="/assets/icons/icon-linkedin.png" alt="linkedin icon">
              </a>
            </div>
          </div>
        </div>
        <div class="col-4 col-md-2">
          <div class="person-card mb-4 mb-md-0">
            <div class="img-person text-center">
              <img src="/assets/images/photos/bok-k.png" alt="bok khoo">
            </div>
            <div class="person-info text-center">
              <p class="name mt-2 mt-md-3 mb-0">Bok Khoo</p>
              <p class="role m-0">Smart Contract Auditor</p>
            </div>
          </div>
        </div>
        <div class="col-4 col-md-2">
          <div class="person-card mb-4 mb-md-0">
            <div class="img-person text-center">
              <img src="/assets/images/photos/james-s.png" alt="james sowers">
            </div>
            <div class="person-info text-center">
              <p class="name mt-2 mt-md-3 mb-0">James Sowers</p>
              <p class="role m-0">Sale Advisor</p>
              <a href="https://www.linkedin.com/in/james-sowers-925a1b17/" target="_blank">
                <img class="icon-linkedin m-md-2" src="/assets/icons/icon-linkedin.png" alt="linkedin icon">
              </a>
            </div>
          </div>
        </div>
        <div class="col-4 col-md-2 visible-mobile">
          <div class="person-card mb-4 mb-md-0">
            <div class="img-person text-center">
              <img src="/assets/images/photos/es-v.png" alt="esteban van goor">
            </div>
            <div class="person-info text-center">
              <p class="name mt-2 mt-md-3 mb-0">Esteban van Goor</p>
              <p class="role m-0">VC Advisor</p>
              <a href="https://www.linkedin.com/in/estebanvangoor/" target="_blank">
                <img class="icon-linkedin m-md-2" src="/assets/icons/icon-linkedin.png" alt="linkedin icon">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mb-md-5">
        <div class="col-4 col-md-2 mx-5 hidden-mobile">
          <div class="person-card mb-4 mb-md-0">
            <div class="img-person text-center">
              <img src="/assets/images/photos/es-v.png" alt="esteban van goor">
            </div>
            <div class="person-info text-center">
              <p class="name mt-2 mt-md-3 mb-0">Esteban van Goor</p>
              <p class="role m-0">VC Advisor</p>
              <a href="https://www.linkedin.com/in/estebanvangoor/" target="_blank">
                <img class="icon-linkedin m-md-2" src="/assets/icons/icon-linkedin.png" alt="linkedin icon">
              </a>
            </div>
          </div>
        </div>
        <div class="col-4 col-md-2 mx-5">
          <div class="person-card mb-4 mb-md-0">
            <div class="img-person text-center">
              <img src="/assets/images/photos/austin-l.png" alt="austin long">
            </div>
            <div class="person-info text-center">
              <p class="name mt-2 mt-md-3 mb-0">Austin Long</p>
              <p class="role m-0">Gaming Advisor</p>
              <a href="https://www.linkedin.com/in/iaustinlong/" target="_blank">
                <img class="icon-linkedin m-md-2" src="/assets/icons/icon-linkedin.png" alt="linkedin icon">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>