.meet-team {
    .team-page {
        .title {
            font-size: 24px;
            font-family: "Century Gothic Bold";
            color: #2acae7;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        .person-card {
            .person-info {
                .name {
                    font-size: 18px;
                    font-family: "Century Gothic Bold";
                    color: #ffffff;
                    white-space: nowrap;
                }
                .role {
                    font-size: 16px;
                    font-family: "Century Gothic";
                    color: rgba(255, 255, 255, 0.2);
                    white-space: nowrap;
                }
                .left-adjust {
                    margin-left: -15px;
                }
            }
        }
    }
    .advisory-page {
        background-color: #151627;
        .title {
            font-size: 24px;
            font-family: "Century Gothic Bold";
            color: #2acae7;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        .person-card {
            .person-info {
                .name {
                    font-size: 18px;
                    font-family: "Century Gothic Bold";
                    color: #ffffff;
                    white-space: nowrap;
                }
                .role {
                    font-size: 16px;
                    font-family: "Century Gothic";
                    color: rgba(255, 255, 255, 0.2);
                    white-space: nowrap;
                }
                .left-adjust {
                    margin-left: -15px !important;
                }
            }
        }
        
    }
    .hidden-mobile {
        display: block !important;
    }
    .visible-mobile {
        display: none !important;
    }
    @media (max-width: 450px) {
        .team-page {
            .hidden-mobile {
                display: none !important;
            }
            .visible-mobile {
                display: block !important;
            }
            .title {
                font-size: 14px;
            }
            .person-card {
                .img-person {
                    img {
                        height: 64px;
                    }
                }
                .person-info {
                    .name {
                        font-size: 11px;
                    }
                    .role {
                        font-size: 10px;
                    }
                    .left-sm-adjust {
                        margin-left: -5px !important;
                    }
                    .left-adjust-10 {
                        margin-left: -10px !important;
                    }
                    .icon-linkedin {
                        height: 20px;
                    }
                }
            }
        }
        .advisory-page {
            .hidden-mobile {
                display: none !important;
            }
            .visible-mobile {
                display: block !important;
            }
            .title {
                font-size: 14px;
            }
            .person-card {
                .img-person {
                    img {
                        height: 64px;
                    }
                }
                .person-info {
                    .name {
                        font-size: 11px;
                    }
                    .role {
                        font-size: 10px;
                    }
                    .left-sm-adjust {
                        margin-left: -5px !important;
                    }
                    .left-adjust-25 {
                        margin-left: -25px !important;
                    }
                    .icon-linkedin {
                        height: 20px;
                    }
                }
            }
        }
    }
}