<div class="meet-team">
  <div class="team-page">
    <div class="container">
      <div class="row justify-content-center py-5">
        <h3 class="title">TEAM</h3>
      </div>
      <div class="row justify-content-between no-gutters mb-5">
        <div class="col-md-2">
          <div class="person-card">
            <div class="img-person text-center">
              <img src="/assets/images/photos/jack-lamir.png">
            </div>
            <div class="person-info text-center">
              <p class="name mt-3 mb-0">Jack Lamir</p>
              <p class="role m-0">CEO</p>
              <img class="icon-linkedin m-2" src="/assets/icons/icon-linkedin.png">
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="person-card">
            <div class="img-person text-center">
              <img src="/assets/images/photos/gabe-s.png">
            </div>
            <div class="person-info text-center">
              <p class="name mt-3 mb-0">Gabe Steinberg</p>
              <p class="role m-0">Product Development</p>
              <img class="icon-linkedin m-2" src="/assets/icons/icon-linkedin.png">
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="person-card">
            <div class="img-person text-center">
              <img src="/assets/images/photos/jon-k.png">
            </div>
            <div class="person-info text-center">
              <p class="name mt-3 mb-0">Jonathan Kerstein</p>
              <p class="role m-0">Business Development</p>
              <img class="icon-linkedin m-2" src="/assets/icons/icon-linkedin.png">
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="person-card">
            <div class="img-person text-center">
              <img src="/assets/images/photos/felix-d.png">
            </div>
            <div class="person-info text-center">
              <p class="name mt-3 mb-0">Felix Dragoi</p>
              <p class="role m-0">Data Modeling</p>
              <img class="icon-linkedin m-2" src="/assets/icons/icon-linkedin.png">
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="person-card">
            <div class="img-person text-center">
              <img src="/assets/images/photos/nick-s.png">
            </div>
            <div class="person-info text-center">
              <p class="name mt-3 mb-0">Nick Scannavino</p>
              <p class="role m-0">Legal</p>
              <img class="icon-linkedin m-2" src="/assets/icons/icon-linkedin.png">
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-between no-gutters mb-5">
        <div class="col-md-2">
          <div class="person-card">
            <div class="img-person text-center">
              <img src="/assets/images/photos/jack-t.png">
            </div>
            <div class="person-info text-center">
              <p class="name mt-3 mb-0">Jack Trefon</p>
              <p class="role m-0">Software Lead</p>
              <img class="icon-linkedin m-2" src="/assets/icons/icon-linkedin.png">
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="person-card">
            <div class="img-person text-center">
              <img src="/assets/images/photos/ak-k.png">
            </div>
            <div class="person-info text-center">
              <p class="name mt-3 mb-0">Akhmad Khoirudin</p>
              <p class="role m-0">UI/UX</p>
              <img class="icon-linkedin m-2" src="/assets/icons/icon-linkedin.png">
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="person-card">
            <div class="img-person text-center">
              <img src="/assets/images/photos/saad-m.png">
            </div>
            <div class="person-info text-center">
              <p class="name mt-3 mb-0">Saad Malik</p>
              <p class="role m-0">Backend Development</p>
              <img class="icon-linkedin m-2" src="/assets/icons/icon-linkedin.png">
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="person-card">
            <div class="img-person text-center">
              <img src="/assets/images/photos/abel-c.png">
            </div>
            <div class="person-info text-center">
              <p class="name mt-3 mb-0">Ábel Czupor</p>
              <p class="role m-0">Growth</p>
              <img class="icon-linkedin m-2" src="/assets/icons/icon-linkedin.png">
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="person-card">
            <div class="img-person text-center">
              <img src="/assets/images/photos/ge-v.png">
            </div>
            <div class="person-info text-center">
              <p class="name mt-3 mb-0 left-adjust">George Van Hoomissen</p>
              <p class="role m-0">Ethereum Development</p>
              <img class="icon-linkedin m-2" src="/assets/icons/icon-linkedin.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Advisory Section -->
  <div class="advisory-page pb-5">
    <div class="container">
      <div class="row justify-content-center py-5">
        <h3 class="title">Advisory</h3>
      </div>
      <div class="row justify-content-between no-gutters mb-5">
        <div class="col-md-2">
          <div class="person-card">
            <div class="img-person text-center">
              <img src="/assets/images/photos/david-d.png">
            </div>
            <div class="person-info text-center">
              <p class="name mt-3 mb-0">David Drake</p>
              <p class="role m-0">Financial Advisor</p>
              <img class="icon-linkedin m-2" src="/assets/icons/icon-linkedin.png">
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="person-card">
            <div class="img-person text-center">
              <img src="/assets/images/photos/josh-g.png">
            </div>
            <div class="person-info text-center">
              <p class="name mt-3 mb-0">Josh Garcia</p>
              <p class="role m-0">Legal Counsel</p>
              <img class="icon-linkedin m-2" src="/assets/icons/icon-linkedin.png">
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="person-card">
            <div class="img-person text-center">
              <img src="/assets/images/photos/erik-w.png">
            </div>
            <div class="person-info text-center">
              <p class="name mt-3 mb-0">Erik Wachtmeister</p>
              <p class="role m-0 left-adjust">Social Networking Advisory</p>
              <img class="icon-linkedin m-2" src="/assets/icons/icon-linkedin.png">
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="person-card">
            <div class="img-person text-center">
              <img src="/assets/images/photos/bok-k.png">
            </div>
            <div class="person-info text-center">
              <p class="name mt-3 mb-0">Bok Khoo</p>
              <p class="role m-0">Smart Contract Auditor</p>
              <img class="icon-linkedin m-2" src="/assets/icons/icon-linkedin.png">
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="person-card">
            <div class="img-person text-center">
              <img src="/assets/images/photos/james-s.png">
            </div>
            <div class="person-info text-center">
              <p class="name mt-3 mb-0">James Sowers</p>
              <p class="role m-0">Sale Advisor</p>
              <img class="icon-linkedin m-2" src="/assets/icons/icon-linkedin.png">
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mb-5">
        <div class="col-md-2 mx-5">
          <div class="person-card">
            <div class="img-person text-center">
              <img src="/assets/images/photos/es-v.png">
            </div>
            <div class="person-info text-center">
              <p class="name mt-3 mb-0">Esteban van Goor</p>
              <p class="role m-0">VC Advisor</p>
              <img class="icon-linkedin m-2" src="/assets/icons/icon-linkedin.png">
            </div>
          </div>
        </div>
        <div class="col-md-2 mx-5">
          <div class="person-card">
            <div class="img-person text-center">
              <img src="/assets/images/photos/austin-l.png">
            </div>
            <div class="person-info text-center">
              <p class="name mt-3 mb-0">Austin Long</p>
              <p class="role m-0">Gaming Advisor</p>
              <img class="icon-linkedin m-2" src="/assets/icons/icon-linkedin.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>