<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="menu">
          <ul class="list-unstyled">
            <li class="title">Gizer
              <li>
                <li>
                  <a routerLink="/terms-and-conditions">Terms and Conditions</a>
                </li>
                <li>
                  <a routerLink="/faq">FAQ</a>
                </li>
                <li>
                  <a href="#">Whitepaper</a>
                </li>
                <li>
                  <a href="#">Press</a>
                </li>
          </ul>
          <ul class="list-unstyled">
            <li>
              <a href="#">Privacy Policy</a>
            </li>
            <li>
              <a href="#">Blog</a>
            </li>
            <li>
              <a routerLink="/partners" routerLinkActive="active">Partners</a>
            </li>
            <li>
              <a routerLink="/team">Team</a>
            </li>
          </ul>
        </div>
        <div class="menu">
          <ul class="list-unstyled">
            <li class="title">Follow Us
              <li>
                <li>
                  <div class="img">
                    <img src="assets/icons/icon-facebook.png">
                  </div>
                  <a target="_blank" href="https://www.facebook.com/GizerGaming/">Facebook</a>
                </li>
                <li>
                  <div class="img">
                    <img src="assets/icons/icon-telegram.png">
                  </div>
                  <a target="_blank" href="https://t.me/joinchat/Em71dQ4KZ8G-XxpArXNuHg">Telegram</a>
                </li>
                <li>
                  <div class="img">
                    <img src="assets/icons/icon-bitcoin.png">
                  </div>
                  <a target="_blank" href="https://bitcointalk.org/index.php?topic=2200121">Bitcointalk</a>
                </li>
                <li>
                  <div class="img">
                    <img src="assets/icons/icon-medium.png">
                  </div>
                  <a target="_blank" href="https://medium.com/@Gizer_Gaming/">Medium</a>
                </li>
          </ul>
          <ul class="list-unstyled">
            <li>
              <div class="img">
                <img src="assets/icons/icon-twitter.png">
              </div>
              <a target="_blank" href="https://twitter.com/Gizer_Gaming">Twitter</a>
            </li>
            <li>
              <div class="img">
                <img src="assets/icons/icon-reddit.png">
              </div>
              <a target="_blank" href="https://www.reddit.com/r/Gizer/">Reddit</a>
            </li>
            <li>
              <div class="img">
                <img src="assets/icons/icon-instagram.png">
              </div>
              <a target="_blank" href="https://www.instagram.com/gizer_gaming/">Instagram</a>
            </li>
            <li>
              <div class="img">
                <img src="assets/icons/icon-discord.png">
              </div>
              <a target="_blank" href="#">Discord</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-5">
        <div class="subscription">
          <div class="row no-gutters">
            <p class="sub-title">Stay Up to Date</p>
            <div class="col-md-8">
              <input type="text" class="email" placeholder="Email address">
            </div>
            <div class="col-md-4">
              <span class="btn-submit">Submit</span>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="download-gizer no-gutters">
              <p class="sub-title">Download Gizer</p>
              <div class="col-md-8 no-gutters">
                <div class="row no-gutters">
                  <div class="col-md-6"><a href="https://play.google.com/store/apps/details?id=gizer.com.android" target="_blank"><img src="/assets/images/google-play-g.png"></a></div>
                  <div class="col-md-6"><a href="https://itunes.apple.com/us/app/gizer/id1165061479?ls=1&amp;mt=8" target="_blank"><img src="/assets/images/app-store-g.png"></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <p class="text-muted text-copyright"> Copyright © 2018 Gizer. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
</div>
