<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="menu">
          <ul class="list-unstyled">
            <li class="title">Gizer
              <li>
                <li>
                  <a id="termsandconditions-footer" routerLink="/terms-and-conditions">Terms and Conditions</a>
                </li>
                <li>
                  <a id="faq-footer" routerLink="/faq">FAQ</a>
                </li>
                <li>
                  <a id="whitepaper-footer" href="https://tokensale.gizer.io/pdf/Gizer_Whitepaper_V2.8-te.pdf" target="_blank">Whitepaper</a>
                </li>
                <li>
                  <a id="press-footer" routerLink="/press">Press</a>
                </li>
          </ul>
          <ul class="list-unstyled">
            <li>
              <a id="privacypolicy-footer" routerLink="/privacy-policy">Privacy Policy</a>
            </li>
            <li>
              <a id="blog-footer" href="https://medium.com/@Gizer_Gaming" target="_blank">Blog</a>
            </li>
            <li>
              <a id="partners-footer" routerLink="/partners" routerLinkActive="active">Partners</a>
            </li>
            <li>
              <a id="team-footer" routerLink="/team">Team</a>
            </li>
          </ul>
        </div>
        <div class="menu">
          <ul class="list-unstyled">
            <li class="title">Follow Us
              <li>
                <li>
                  <div class="img">
                    <img src="assets/icons/icon-facebook.png" alt="facebook">
                  </div>
                  <a id="facebook-footer" target="_blank" href="https://www.facebook.com/GizerGaming/">Facebook</a>
                </li>
                <li>
                  <div class="img">
                    <img src="assets/icons/icon-telegram.png" alt="telegram">
                  </div>
                  <a id="telegram-footer" target="_blank" href="https://t.me/joinchat/Em71dQ4KZ8G-XxpArXNuHg">Telegram</a>
                </li>
                <li>
                  <div class="img">
                    <img src="assets/icons/icon-bitcoin.png" alt="bitcoin">
                  </div>
                  <a id="bitcointalk-footer" target="_blank" href="https://bitcointalk.org/index.php?topic=2200121">Bitcointalk</a>
                </li>
                <li>
                  <div class="img">
                    <img src="assets/icons/icon-medium.png" alt="medium">
                  </div>
                  <a id="medium-footer" target="_blank" href="https://medium.com/@Gizer_Gaming/">Medium</a>
                </li>
          </ul>
          <ul class="list-unstyled">
            <li>
              <div class="img">
                <img src="assets/icons/icon-twitter.png" alt="twitter">
              </div>
              <a id="twitter-footer" target="_blank" href="https://twitter.com/Gizer_Gaming">Twitter</a>
            </li>
            <li>
              <div class="img">
                <img src="assets/icons/icon-reddit.png" alt="reddit">
              </div>
              <a id="reddit-footer" target="_blank" href="https://www.reddit.com/r/Gizer/">Reddit</a>
            </li>
            <li>
              <div class="img">
                <img src="assets/icons/icon-instagram.png" alt="istagram">
              </div>
              <a id="instagram-footer" target="_blank" href="https://www.instagram.com/gizer_gaming/">Instagram</a>
            </li>
            <li>
              <div class="img">
                <img src="assets/icons/icon-discord.png" alt="discord">
              </div>
              <a id="discord-footer" target="_blank" href="https://discord.me/Gizer">Discord</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-5">
        <div class="subscription">
          <form ngNoForm action="https://gizer.us17.list-manage.com/subscribe/post?u=c410eaf05ade80ed0cdd3286a&id=99a5f963c8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
            <div class="row no-gutters">
              <p class="sub-title">Stay Up to Date</p>
                <div class="col-8 col-md-8">
                  <input type="text" class="email" name="EMAIL"  id="mce-EMAIL" placeholder="Email address" required>
                </div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c410eaf05ade80ed0cdd3286a_99a5f963c8" tabindex="-1" value=""></div>
                <div class="col-4 col-md-4">
                  <div class="button-wrapper">
                    <input type="submit" value="Submit" name="subscribe" id="newsletter-submission" class="btn-submit">
                  </div>
                </div>
            </div>
          </form>
          <div class="row no-gutters">
            <div class="download-gizer no-gutters">
              <p class="sub-title">Download Gizer</p>
              <div class="col-8 col-md-8 no-gutters">
                <div class="row no-gutters">
                  <div class="col-6 col-md-6"><a href="https://play.google.com/store/apps/details?id=gizer.com.android" target="_blank"><img src="/assets/images/google-play-g.png" alt="google store"></a></div>
                  <div class="col-6 col-md-6"><a href="https://itunes.apple.com/us/app/gizer/id1165061479?ls=1&amp;mt=8" target="_blank"><img src="/assets/images/app-store-g.png" alt="app store"></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <p class="text-muted text-copyright"> Copyright © 2018 Gizer. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
</div>