<div class="thankyou-page">
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10">
            <div class="row justify-content-center">
              <h3 class="title pt-5 pb-4">Thank you for purchasing GZR</h3>
            </div>
            <div class="row justify-content-center pb-3">
                <div class="description-block border border-secondary p-3 w-100">
                  <div class="img-wrapper text-center mt-4 mb-4">
                    <img src="/assets/images/img-thankyou-check.png" alt="thank you image">
                  </div>
                  <div class="content text-center">
                    <p class="description">Your transaction has been broadcasted to the blockchain and is waiting to be mined. Once your transaction has been confirmed, you will automatically receive GZR to your wallet.</p>
                    <p class="description">Transaction {{transactionId}}</p>
                    <p class="description mt-1">You can view your transaction on etherscan by <br> <a href="https://ropsten.etherscan.io/tx/{{transactionId}}" target="_blank" class="link">clicking here</a></p>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>