<div class="press-page">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <div class="title-wrapper text-center py-md-5">
          <h3 class="title py-3 py-md-5">For Press</h3>
        </div>
        <div class="content-wrapper border border-secondary px-2 px-md-3 pt-4 pb-2">
          <div class="description-block px-md-3">
            <p class="description">
              Gizer offers gamers the tools they need to compete in or host eSports tournaments in as little as 20 seconds; The network enables the entire gaming community to connect through the different events, products, and freelance services found on Gizer. The Global Gaming Identity (GGiD) is a gamer's unique identity on the blockchain. Use GZR tokens to unlock provably unique, collectible items for your GGiD avatar.
            </p>
            <p class="description">
              Items are organized into collections called treasures, and they exist in very limited quantities. The first collection, the Founders Treasure, contains 20,000 units and 21 different items. Once all 20,000 have been unlocked by players, the items will be discontinued and will only be attainable by trading with other players. Gizer plans to release new collections on a frequent basis, the items within will be created in collaboration with members of the global gaming community.
             </p>
            <p class="description">
              These items can be equipped to your avatar and act as building blocks for your blockchain gaming identity. Gizer's goal is to connect the gaming community through their love of competition and to make blockchain technology accessible to gamers across the globe. To do this, GGiD implements non-fungible ERC721 tokens into smart contracts on the Ethereum network. Gizer's message is simple: Connect, Collect, Compete and Conquer.
            </p>
          </div>
          <div class="widgets-block px-md-3">
            <div class="row m-0">
              <div class="col-4 p-0 pr-1 pr-md-2">
                <div class="border border-secondary text-center px-md-3">
                  <p class="category-title">Location</p>
                  <img class="category-img" src="/assets/images/img-press-location.png">
                  <p class="category-name pt-3 m-0">New York</p>
                </div>
              </div>
              <div class="col-4 p-0 px-1 px-md-2">
                <div class="border border-secondary text-center px-md-3">
                  <p class="category-title">Founded</p>
                  <img class="category-img" src="/assets/images/img-press-founded.png">
                  <p class="category-name pt-3 m-0">October 2016</p>
                </div>
              </div>
              <div class="col-4 p-0 pl-1 pl-md-2">
                <div class="border border-secondary text-center px-md-3">
                  <p class="category-title">Initial Token Offering</p>
                  <img class="category-img" src="/assets/images/img-press-gzr-token.png">
                  <p class="category-name pt-3 m-0">January 2018</p>
                </div>
              </div>
            </div>
          </div>
          <div class="brand-assets-block">
            <h3 class="block-title py-3 p-md-3">Brand Assets</h3>
            
            <div class="row mx-0">
              <div class="col-12 col-md-8 pl-0 pl-md-3 pr-0 mb-3">
                <div class="image-wrapper border border-secondary p-4 text-center">
                  <img class="mw-100 mh-100" src="/assets/images/img-press-gizer-logo.png">
                </div>
                <div class="asset-detail border border-secondary border-top-0 p-2">
                  <span class="asset-name"><img class="pr-2" src="/assets/icons/icon-type-png.png">Gizer Logo with Name</span>
                  <span class="float-right"><img src="/assets/icons/icon-download.png"></span>
                </div>
              </div>
              <div *ngIf="!isMobile" class="col-6 col-md-4 mb-3 p-0 px-md-3 pr-2">
                <div class="image-wrapper border border-secondary p-4 text-center">
                  <img src="/assets/images/img-press-gizer-icon.png">
                </div>
                <div class="asset-detail border border-secondary border-top-0 p-2">
                  <span class="asset-name"><img class="pr-2" src="/assets/icons/icon-type-png.png">Gizer Logo</span>
                  <span class="float-right"><img src="/assets/icons/icon-download.png"></span>
                </div>
              </div>
            </div>

            <div class="row mx-0">
              <div *ngIf="isMobile" class="col-6 col-md-4 mb-3 p-0 px-md-3 pr-2">
                <div class="image-wrapper border border-secondary p-4 text-center">
                  <img src="/assets/images/img-press-gizer-icon.png">
                </div>
                <div class="asset-detail border border-secondary border-top-0 p-1 p-md-2">
                  <span class="asset-name">
                    <img class="pr-1 pr-md-2 m-small" src="/assets/icons/icon-type-png.png">
                    Gizer Logo
                  </span>
                  <span class="float-right"><img class="m-tiny" src="/assets/icons/icon-download.png"></span>
                </div>
              </div>
              <div class="col-6 col-md-4 mb-3 p-0 px-md-3 pl-2">
                <div class="image-wrapper border border-secondary p-4 text-center">
                  <img src="/assets/images/img-press-gizer-coin.png">
                </div>
                <div class="asset-detail border border-secondary border-top-0 p-1 p-md-2">
                  <span class="asset-name">
                    <img class="pr-1 pr-md-2 m-small" src="/assets/icons/icon-type-png.png">
                    Gizer Coin
                  </span>
                  <span class="float-right"><img class="m-tiny" src="/assets/icons/icon-download.png"></span>
                </div>
              </div>
              <div class="col-6 col-md-4 mb-3 p-md-0 p-0 pr-2">
                <div class="image-wrapper border border-secondary px-4 pt-2 justify-content-center d-flex align-bottom">
                  <img src="/assets/images/img-press-app-frame.png">
                </div>
                <div class="asset-detail border border-secondary border-top-0 p-1 p-md-2">
                  <span class="asset-name">
                    <img class="pr-1 pr-md-2 m-small" src="/assets/icons/icon-type-png.png">
                    Gizer App Frame
                  </span>
                  <span class="float-right"><img class="m-tiny" src="/assets/icons/icon-download.png"></span>
                </div>
              </div>
              <div class="col-6 col-md-4 mb-3 p-0 px-md-3 pl-2">
                <div class="image-wrapper border border-secondary p-4 text-center">
                  <img src="/assets/images/img-press-ggid-logo.png">
                </div>
                <div class="asset-detail border border-secondary border-top-0 p-1 p-md-2">
                  <span class="asset-name">
                    <img class="pr-1 pr-md-2 m-small" src="/assets/icons/icon-type-png.png">
                    GGiD Logo
                  </span>
                  <span class="float-right"><img class="m-tiny" src="/assets/icons/icon-download.png"></span>
                </div>
              </div>
            </div>
            
            <div class="row mx-0">
              <div class="col-12 col-md-6 p-0 mb-3 pr-md-2">
                <div class="image-wrapper border border-secondary p-1 text-center">
                  <img class="w-100" src="/assets/images/img-press-screenshot.png">
                </div>
                <div class="asset-detail border border-secondary border-top-0 p-2">
                  <span class="asset-name">
                    <img class="pr-2" src="/assets/icons/icon-type-png.png">
                    Gizer.io Web Screenshot
                  </span>
                  <span class="float-right"><img src="/assets/icons/icon-download.png"></span>
                </div>
              </div>
              <div class="col-12 col-md-6 p-0 mb-3 pr-md-2">
                <div class="image-wrapper border border-secondary p-1 text-center">
                  <img class="w-100" src="/assets/images/img-press-buy-gzr.png">
                </div>
                <div class="asset-detail border border-secondary border-top-0 p-2">
                  <span class="asset-name">
                    <img class="pr-2" src="/assets/icons/icon-type-png.png">
                    Tokensale Buy GZR Page
                  </span>
                  <span class="float-right"><img src="/assets/icons/icon-download.png"></span>
                </div>
              </div>
            </div>

            <div class="row mx-0">
              <div class="col-12 col-md-6 p-0 mb-3 pr-md-2">
                <div class="image-wrapper border border-secondary p-1 text-center">
                  <img class="w-100" src="/assets/images/img-press-item-details.png">
                </div>
                <div class="asset-detail border border-secondary border-top-0 p-2">
                  <span class="asset-name">
                    <img class="pr-2" src="/assets/icons/icon-type-png.png">
                    Tokensale Item Details Page
                  </span>
                  <span class="float-right"><img src="/assets/icons/icon-download.png"></span>
                </div>
              </div>
              <div class="col-12 col-md-6 p-0 mb-3 pr-md-2">
                <div class="image-wrapper border border-secondary p-1 justify-content-center d-flex flex-column">
                  <img class="w-100" src="/assets/images/img-press-gzr-banner-1.png">
                </div>
                <div class="asset-detail border border-secondary border-top-0 p-2">
                  <span class="asset-name">
                    <img class="pr-2" src="/assets/icons/icon-type-png.png">
                    Gizer Banner 1
                  </span>
                  <span class="float-right"><img src="/assets/icons/icon-download.png"></span>
                </div>
              </div>
            </div>
            
            <div class="row mx-0">
              <div class="col-12 col-md-6 p-0 mb-3 pr-md-2">
                <div class="image-wrapper border border-secondary p-1 justify-content-center d-flex flex-column">
                  <img class="w-100" src="/assets/images/img-press-gzr-banner-2.png">
                </div>
                <div class="asset-detail border border-secondary border-top-0 p-2">
                  <span class="asset-name">
                    <img class="pr-2" src="/assets/icons/icon-type-png.png">
                    Gizer Banner 2
                  </span>
                  <span class="float-right"><img src="/assets/icons/icon-download.png"></span>
                </div>
              </div>
              <div class="col-12 col-md-6 p-0 mb-3 pr-md-2">
                <div class="image-wrapper border border-secondary p-1 justify-content-center d-flex flex-column">
                  <img class="w-100" src="/assets/images/img-press-gzr-banner-3.png">
                </div>
                <div class="asset-detail border border-secondary border-top-0 p-2">
                  <span class="asset-name">
                    <img class="pr-2" src="/assets/icons/icon-type-png.png">
                    Gizer Banner 3
                  </span>
                  <span class="float-right"><img src="/assets/icons/icon-download.png"></span>
                </div>
              </div>
            </div>
            
            <div class="row mx-0">
              <div class="col-6 col-md-4 mb-3 p-0 px-md-3 pr-2">
                <div class="image-wrapper border border-secondary p-4 text-center">
                  <img class="mw-100" src="/assets/images/img-press-item-1.png">
                </div>
                <div class="asset-detail border border-secondary border-top-0 p-2">
                  <span class="asset-name">
                    <img class="pr-2" src="/assets/icons/icon-type-png.png">
                    Item 1
                  </span>
                  <span class="float-right"><img src="/assets/icons/icon-download.png"></span>
                </div>
              </div>
              <div class="col-6 col-md-4 mb-3 p-0 px-md-3 pl-2">
                <div class="image-wrapper border border-secondary px-4 pt-2 justify-content-center d-flex align-bottom">
                  <img class="mw-100" src="/assets/images/img-press-item-2.png">
                </div>
                <div class="asset-detail border border-secondary border-top-0 p-2">
                  <span class="asset-name">
                    <img class="pr-2" src="/assets/icons/icon-type-png.png">
                    Item 2
                  </span>
                  <span class="float-right"><img src="/assets/icons/icon-download.png"></span>
                </div>
              </div>
              <div class="col-6 col-md-4 mb-3 px-md-3 p-0 pr-2">
                <div class="image-wrapper border border-secondary p-4 text-center">
                  <img class="mw-100" src="/assets/images/img-press-item-3.png">
                </div>
                <div class="asset-detail border border-secondary border-top-0 p-2">
                  <span class="asset-name">
                    <img class="pr-2" src="/assets/icons/icon-type-png.png">
                    Item 3
                  </span>
                  <span class="float-right"><img src="/assets/icons/icon-download.png"></span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="logo-wrapper mt-3">
    <div class="container-fluid">
      <div class="header-block text-center">
        <h3 class="title py-4">Press & Coverage</h3>
      </div>
      <div *ngIf="!isMobile" class="logo-block pb-4">
        <div class="row justify-content-center">
          <div class="d-flex flex-column justify-content-center px-4 py-3">
            <img src="/assets/images/img-press-logo-1.png">
          </div>
          <div class="d-flex flex-column justify-content-center px-4 py-3">
            <img src="/assets/images/img-press-logo-2.png">
          </div>
          <div class="d-flex flex-column justify-content-center px-4 py-3">
            <img src="/assets/images/img-press-logo-3.png">
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="d-flex flex-column justify-content-center px-4 py-3">
            <img src="/assets/images/img-press-logo-4.png">
          </div>
          <div class="d-flex flex-column justify-content-center px-4 py-3">
            <img src="/assets/images/img-press-logo-5.png">
          </div>
          <div class="d-flex flex-column justify-content-center px-4 py-3">
            <img src="/assets/images/img-press-logo-6.png">
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="d-flex flex-column justify-content-center px-4 py-3">
            <img src="/assets/images/img-press-logo-7.png">
          </div>
          <div class="d-flex flex-column justify-content-center px-4 py-3">
            <img src="/assets/images/img-press-logo-8.png">
          </div>
          <div class="d-flex flex-column justify-content-center px-4 py-3">
            <img src="/assets/images/img-press-logo-9.png">
          </div>
        </div>
      </div>
      <div *ngIf="isMobile" class="logo-block pb-4">
        <div class="row justify-content-center">
          <div class="col-6 mb-3">
            <img class="w-100" src="/assets/images/img-press-logo-1.png">
          </div>
          <div class="col-6 mb-3">
            <img class="w-100" src="/assets/images/img-press-logo-2.png">
          </div>
          <div class="col-6 mb-3">
            <img class="w-100" src="/assets/images/img-press-logo-3.png">
          </div>
          <div class="col-6 mb-3">
            <img class="w-100" src="/assets/images/img-press-logo-4.png">
          </div>
          <div class="col-6 mb-3">
            <img class="w-100" src="/assets/images/img-press-logo-5.png">
          </div>
          <div class="col-6 mb-3">
            <img class="w-100" src="/assets/images/img-press-logo-6.png">
          </div>
          <div class="col-6 mb-3">
            <img class="w-100" src="/assets/images/img-press-logo-7.png">
          </div>
          <div class="col-6 mb-3">
            <img class="w-100" src="/assets/images/img-press-logo-8.png">
          </div>
          <div class="col-6 mb-3">
            <img class="w-100" src="/assets/images/img-press-logo-9.png">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="inquiries-wrapper">
    <div class="container-fluid">
      <div class="header-block text-center">
        <h3 class="title py-4">Press Inquiries</h3>
        <p class="sub-text">Have a press or media inquiry that you want to talk to the team about?</p>
        <a
        class="btn-touch"
        href='mailto:Pr@gizer.io'
      >
      Get in Touch
      </a>
      </div>
      <div class="contact-form pb-4 fade in">
        <div class="row justify-content-center">
          <div class="col-12 col-md-4 text-center">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <input
                class="w-100 mb-3"
                type="text"
                placeholder="Name"
                formControlName="name"
              >
              <input
                class="w-100 mb-3"
                type="text"
                placeholder="Email"
                formControlName="email"
              >
              <textarea
                class="w-100 mb-3"
                placeholder="Message"
                formControlName="message"
              >
              </textarea>
              <button
                class="btn-touch"
                type="submit"
                [disabled]="form.invalid"
              >
              Get in Touch
            </button>
            </form>
          </div>
        </div>
      </div>
      <!-- <div class="button-block text-center pt-3 pb-5">
          <span class="btn-touch">Get in Touch</span>
      </div> -->
    </div>
  </div>
</div>