<div class="press-page">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <div class="title-wrapper text-center py-5">
          <h3 class="title py-5">Press</h3>
        </div>
        <div class="content-wrapper border border-secondary p-4">
          <div class="description-block">
            <p class="description">
              Gizer offers gamers the tools they need to compete in or host eSports tournaments in as little as 20 seconds; The network enables the entire gaming community to connect through the different events, products, and freelance services found on Gizer. The Global Gaming Identity (GGiD) is a gamer's unique identity on the blockchain. Use GZR tokens to unlock provably unique, collectible items for your GGiD avatar.
            </p>
            <p class="description">
              Items are organized into collections called treasures, and they exist in very limited quantities. The first collection, the Founders Treasure, contains 20,000 units and 21 different items. Once all 20,000 have been unlocked by players, the items will be discontinued and will only be attainable by trading with other players. Gizer plans to release new collections on a frequent basis, the items within will be created in collaboration with members of the global gaming community.
             </p>
            <p class="description">
              These items can be equipped to your avatar and act as building blocks for your blockchain gaming identity. Gizer's goal is to connect the gaming community through their love of competition and to make blockchain technology accessible to gamers across the globe. To do this, GGiD implements non-fungible ERC721 tokens into smart contracts on the Ethereum network. Gizer's message is simple: Connect, Collect, Compete and Conquer.
            </p>
          </div>
          <div class="widgets">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>