.btn-touch {
    cursor: pointer;
    font-family: "Century Gothic";
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    padding: 10px 45px;
    border-radius: 50px;
    border: 0;
    background: #f89220;
    text-shadow: 0px 1px 2px rgba(1, 2, 2, 0.38);
    text-decoration: none;
}
.press-page {
    background-image: url('/assets/images/img-press-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    .title {
        font-size: 24px;
        font-family: "Century Gothic Bold";
        color: #ffffff;
    }
    .content-wrapper {
        background-color: #1c1e33;
        .description-block {
            .description {
                font-size: 16px;
                font-family: "Century Gothic";
                color: #ffffff;
            }
        }
        .widgets-block {
            .category-title {
                font-size: 16px;
                font-family: "Century Gothic";
                color: #8a8da4;
            }
            .category-name {
                font-size: 18px;
                font-family: "Century Gothic Bold";
                color: #ffffff;
            }
        }
        .brand-assets-block {
            .block-title {
                font-size: 24px;
                font-family: "Century Gothic Bold";
                color: #ffffff;
            }
            .image-wrapper {
                height: 147px;
            }
            .asset-detail {
                .asset-name {
                    font-size: 15px;
                    font-family: "Century Gothic";
                    color: #8a8da4;
                }
            }
        }
    }
    .logo-wrapper {
        background-color: #151627;
    }
    .news-wrapper {
        .content-block {
            .news-title {
                padding-top: 3px;
                font-size: 18px;
                font-family: "Century Gothic Bold";
                color: rgba(255, 255, 255, 0.38);
            }
        }
    }
    .inquiries-wrapper {
        background-image: url('/assets/images/img-press-inquiries-bg.png');
        background-position: center;
        background-size: cover;
        .header-block {
            .sub-text {
                font-size: 18px;
                font-family: "Century Gothic";
                color: #ffffff;
            }
        }
        .contact-form {
            textarea {
                height: 200px;
            }

        }
    }

    @media (max-width: 450px) {
        .title {
            font-size: 15px;
        }
        .content-wrapper {
            .description-block {
                .description {
                    font-size: 11.5px;
                }
            }
            .widgets-block {
                .category-title {
                    font-size: 11px;
                    height: 32px;
                    align-items: center;
                    display: flex;
                    justify-content: center;
                }
                .category-img {
                    width: 50%;
                }
                .category-name {
                    font-size: 11px;
                    padding-bottom: 10px;
                }
            }
            .brand-assets-block {
                .block-title {
                    font-size: 15px;
                }
                .image-wrapper {
                    height: 120px;
                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
                .asset-detail {
                    .asset-name {
                        font-size: 10.5px;
                    }
                    .m-small {
                        width: 30px;
                    }
                    .m-tiny {
                        width: 24px;
                    }
                }
            }
        }
        .logo-wrapper {
            background-color: #151627;
        }
        .inquiries-wrapper {
            background-image: url('/assets/images/img-press-inquiries-bg.png');
            background-position: center;
            background-size: cover;
            .header-block {
                .sub-text {
                    font-size: 18px;
                    font-family: "Century Gothic";
                    color: #ffffff;
                }
            }
            .contact-form {
                textarea {
                    height: 100px;
                }
                .btn-touch {
                    font-family: "Century Gothic";
                    font-size: 16px;
                    color: #ffffff;
                    cursor: pointer;
                    display: inline-block;
                    padding: 10px 45px;
                    border-radius: 50px;
                    border: 0;
                    background: #f89220;
                    text-shadow: 0px 1px 2px rgba(1, 2, 2, 0.38);
                }
            }
        }
    }
}  