<div class="press-page">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <div class="title-wrapper text-center py-md-5">
          <h3 class="title py-3 py-md-5">For Press</h3>
        </div>
        <div class="content-wrapper border border-secondary px-2 px-md-3 pt-4 pb-2">
          <div class="description-block px-md-3">
            <p class="description">
              Gizer offers gamers the tools they need to compete in or host eSports tournaments in as little as 20 seconds; The network enables the entire gaming community to connect through the different events, products, and freelance services found on Gizer. The Global Gaming Identity (GGiD) is a gamer's unique identity on the blockchain. Use GZR tokens to unlock provably unique, collectible items for your GGiD avatar.
            </p>
            <p class="description">
              Items are organized into collections called treasures, and they exist in very limited quantities.  The first collection, the Founders Treasure, contains 20,000 units and around 20 different items. Once all 20,000 have been unlocked by players, the items will be discontinued and will only be attainable by trading with other players. Gizer plans to release new collections on a frequent basis, the items within will be created in collaboration with members of the global gaming community.
             </p>
            <p class="description">
              These items can be equipped to your avatar and act as building blocks for your blockchain gaming identity. Gizer's goal is to connect the gaming community through their love of competition and to make blockchain technology accessible to gamers across the globe. To do this, GGiD implements non-fungible ERC721 tokens into smart contracts on the Ethereum network. Gizer's message is simple: Connect, Collect, Compete and Conquer.
            </p>
          </div>
          <div class="widgets-block px-md-3">
            <div class="row m-0">
              <div class="col-4 p-0 pr-1 pr-md-2">
                <div class="border border-secondary text-center px-md-3">
                  <p class="category-title">Location</p>
                  <img class="category-img" src="/assets/images/img-press-location.png" alt="location image">
                  <p class="category-name pt-3 m-0">New York</p>
                </div>
              </div>
              <div class="col-4 p-0 px-1 px-md-2">
                <div class="border border-secondary text-center px-md-3">
                  <p class="category-title">Founded</p>
                  <img class="category-img" src="/assets/images/img-press-founded.png" alt="founded image">
                  <p class="category-name pt-3 m-0">October 2016</p>
                </div>
              </div>
              <div class="col-4 p-0 pl-1 pl-md-2">
                <div class="border border-secondary text-center px-md-3">
                  <p class="category-title">Initial Token Offering</p>
                  <img class="category-img" src="/assets/images/img-press-gzr-token.png" alt="gizer token image">
                  <p class="category-name pt-3 m-0">March 2018</p>
                </div>
              </div>
            </div>
          </div>
          <div class="brand-assets-block">
            <h3 class="block-title py-3 p-md-3">Brand Assets</h3>
            
            <div class="row mx-0">
              <div class="col-12 col-md-8 pl-0 pl-md-3 pr-0 mb-3">
                <div class="image-wrapper border border-secondary p-4 text-center">
                  <a routerLink="/">
                    <img class="mw-100 mh-100" src="/assets/images/img-press-gizer-logo.png" alt="gizer logo image">
                  </a>
                </div>
                <div class="asset-detail border border-secondary border-top-0 p-2">
                  <span class="asset-name"><img class="pr-2" src="/assets/icons/icon-type-png.png" alt="gizer logo with name image">Gizer Logo with Name</span>
                  <span class="float-right"><img src="/assets/icons/icon-download.png" alt="download button"></span>
                </div>
              </div>
              <div *ngIf="!isMobile" class="col-6 col-md-4 mb-3 p-0 px-md-3 pr-2">
                <div class="image-wrapper border border-secondary p-4 text-center">
                  <img src="/assets/images/img-press-gizer-icon.png">
                </div>
                <div class="asset-detail border border-secondary border-top-0 p-2">
                  <span class="asset-name"><img class="pr-2" src="/assets/icons/icon-type-png.png" alt="gizer logo image">Gizer Logo</span>
                  <span class="float-right"><img src="/assets/icons/icon-download.png" alt="download button"></span>
                </div>
              </div>
            </div>

            <div class="row mx-0">
              <div *ngIf="isMobile" class="col-6 col-md-4 mb-3 p-0 px-md-3 pr-2">
                <div class="image-wrapper border border-secondary p-4 text-center">
                  <img src="/assets/images/img-press-gizer-icon.png" alt="gizer icon">
                </div>
                <div class="asset-detail border border-secondary border-top-0 p-1 p-md-2">
                  <span class="asset-name">
                    <img class="pr-1 pr-md-2 m-small" src="/assets/icons/icon-type-png.png" alt="icon type">
                    Gizer Logo
                  </span>
                  <span class="float-right"><img class="m-tiny" src="/assets/icons/icon-download.png" alt="download button"></span>
                </div>
              </div>
              <div class="col-6 col-md-4 mb-3 p-0 px-md-3 pl-2">
                <div class="image-wrapper border border-secondary p-4 text-center">
                  <img src="/assets/images/img-press-gizer-coin.png" alt="gizer coin image">
                </div>
                <div class="asset-detail border border-secondary border-top-0 p-1 p-md-2">
                  <span class="asset-name">
                    <img class="pr-1 pr-md-2 m-small" src="/assets/icons/icon-type-png.png" alt="icon type">
                    Gizer Coin
                  </span>
                  <span class="float-right"><img class="m-tiny" src="/assets/icons/icon-download.png" alt="download button"></span>
                </div>
              </div>
              <div class="col-6 col-md-4 mb-3 p-md-0 p-0 pr-2">
                <div class="image-wrapper border border-secondary px-4 pt-2 justify-content-center d-flex align-bottom">
                  <img src="/assets/images/img-press-app-frame.png">
                </div>
                <div class="asset-detail border border-secondary border-top-0 p-1 p-md-2">
                  <span class="asset-name">
                    <img class="pr-1 pr-md-2 m-small" src="/assets/icons/icon-type-png.png" alt="icon type">
                    Gizer App Frame
                  </span>
                  <span class="float-right"><img class="m-tiny" src="/assets/icons/icon-download.png" alt="download button"></span>
                </div>
              </div>
              <div class="col-6 col-md-4 mb-3 p-0 px-md-3 pl-2">
                <div class="image-wrapper border border-secondary p-4 text-center">
                  <img src="/assets/images/img-press-ggid-logo.png">
                </div>
                <div class="asset-detail border border-secondary border-top-0 p-1 p-md-2">
                  <span class="asset-name">
                    <img class="pr-1 pr-md-2 m-small" src="/assets/icons/icon-type-png.png" alt="icon type">
                    GGiD Logo
                  </span>
                  <span class="float-right"><img class="m-tiny" src="/assets/icons/icon-download.png" alt="download button"></span>
                </div>
              </div>
            </div>
            
            <div class="row mx-0">
              <div class="col-12 col-md-6 p-0 mb-3 pr-md-2">
                <div class="image-wrapper border border-secondary p-1 text-center">
                  <img class="w-100" src="/assets/images/img-press-screenshot.png" alt="press page screenshot">
                </div>
                <div class="asset-detail border border-secondary border-top-0 p-2">
                  <span class="asset-name">
                    <img class="pr-2" src="/assets/icons/icon-type-png.png" alt="icon type">
                    Gizer.io Web Screenshot
                  </span>
                  <span class="float-right"><img src="/assets/icons/icon-download.png" alt="download button"></span>
                </div>
              </div>
              <div class="col-12 col-md-6 p-0 mb-3 pr-md-2">
                <div class="image-wrapper border border-secondary p-1 text-center">
                  <img class="w-100" src="/assets/images/img-press-buy-gzr.png">
                </div>
                <div class="asset-detail border border-secondary border-top-0 p-2">
                  <span class="asset-name">
                    <img class="pr-2" src="/assets/icons/icon-type-png.png" alt="icon type">
                    Tokensale Buy GZR Page
                  </span>
                  <span class="float-right"><img src="/assets/icons/icon-download.png" alt="download button"></span>
                </div>
              </div>
            </div>

            <div class="row mx-0">
              <div class="col-12 col-md-6 p-0 mb-3 pr-md-2">
                <div class="image-wrapper border border-secondary p-1 text-center">
                  <img class="w-100" src="/assets/images/img-press-item-details.png">
                </div>
                <div class="asset-detail border border-secondary border-top-0 p-2">
                  <span class="asset-name">
                    <img class="pr-2" src="/assets/icons/icon-type-png.png" alt="icon type">
                    Tokensale Item Details Page
                  </span>
                  <span class="float-right"><img src="/assets/icons/icon-download.png" alt="download button"></span>
                </div>
              </div>
              <div class="col-12 col-md-6 p-0 mb-3 pr-md-2">
                <div class="image-wrapper border border-secondary p-1 justify-content-center d-flex flex-column">
                  <img class="w-100" src="/assets/images/img-press-gzr-banner-1.png">
                </div>
                <div class="asset-detail border border-secondary border-top-0 p-2">
                  <span class="asset-name">
                    <img class="pr-2" src="/assets/icons/icon-type-png.png" alt="icon type">
                    Gizer Banner 1
                  </span>
                  <span class="float-right"><img src="/assets/icons/icon-download.png" alt="download button"></span>
                </div>
              </div>
            </div>
            
            <div class="row mx-0">
              <div class="col-12 col-md-6 p-0 mb-3 pr-md-2">
                <div class="image-wrapper border border-secondary p-1 justify-content-center d-flex flex-column">
                  <img class="w-100" src="/assets/images/img-press-gzr-banner-2.png">
                </div>
                <div class="asset-detail border border-secondary border-top-0 p-2">
                  <span class="asset-name">
                    <img class="pr-2" src="/assets/icons/icon-type-png.png" alt="icon type">
                    Gizer Banner 2
                  </span>
                  <span class="float-right"><img src="/assets/icons/icon-download.png" alt="download button"></span>
                </div>
              </div>
              <div class="col-12 col-md-6 p-0 mb-3 pr-md-2">
                <div class="image-wrapper border border-secondary p-1 justify-content-center d-flex flex-column">
                  <img class="w-100" src="/assets/images/img-press-gzr-banner-3.png" alt="gizer banner image">
                </div>
                <div class="asset-detail border border-secondary border-top-0 p-2">
                  <span class="asset-name">
                    <img class="pr-2" src="/assets/icons/icon-type-png.png" alt="icon type">
                    Gizer Banner 3
                  </span>
                  <span class="float-right"><img src="/assets/icons/icon-download.png" alt="download button"></span>
                </div>
              </div>
            </div>
            
            <div class="row mx-0">
              <div class="col-6 col-md-4 mb-3 p-0 px-md-3 pr-2">
                <div class="image-wrapper border border-secondary p-4 text-center">
                  <img class="mw-100" src="/assets/images/img-press-item-1.png">
                </div>
                <div class="asset-detail border border-secondary border-top-0 p-2">
                  <span class="asset-name">
                    <img class="pr-2" src="/assets/icons/icon-type-png.png" alt="icon type">
                    Item 1
                  </span>
                  <span class="float-right"><img src="/assets/icons/icon-download.png" alt="download button"></span>
                </div>
              </div>
              <div class="col-6 col-md-4 mb-3 p-0 px-md-3 pl-2">
                <div class="image-wrapper border border-secondary px-4 pt-2 justify-content-center d-flex align-bottom">
                  <img class="mw-100" src="/assets/images/img-press-item-2.png">
                </div>
                <div class="asset-detail border border-secondary border-top-0 p-2">
                  <span class="asset-name">
                    <img class="pr-2" src="/assets/icons/icon-type-png.png" alt="icon type">
                    Item 2
                  </span>
                  <span class="float-right"><img src="/assets/icons/icon-download.png" alt="download button"></span>
                </div>
              </div>
              <div class="col-6 col-md-4 mb-3 px-md-3 p-0 pr-2">
                <div class="image-wrapper border border-secondary p-4 text-center">
                  <img class="mw-100" src="/assets/images/img-press-item-3.png">
                </div>
                <div class="asset-detail border border-secondary border-top-0 p-2">
                  <span class="asset-name">
                    <img class="pr-2" src="/assets/icons/icon-type-png.png" alt="icon type">
                    Item 3
                  </span>
                  <span class="float-right"><img src="/assets/icons/icon-download.png" alt="download button"></span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="logo-wrapper mt-3">
    <div class="container-fluid">
      <div class="header-block text-center">
        <h3 class="title py-4">Press & Coverage</h3>
      </div>
      <div *ngIf="!isMobile" class="logo-block pb-4">
        <div class="row justify-content-center">
          <div class="d-flex flex-column justify-content-center px-4 py-3">
            <a href="http://markets.businessinsider.com/news/stocks/cryptokitties-or-cryptocatastrophe-viral-kitties-cause-massive-delays-on-ethereum-network-blockchain-virtual-goods-the-next-big-thing-for-gamers-1010731282" target="_blank">
              <img src="/assets/images/img-press-logo-1.png" alt="logo">
            </a>
          </div>
          <div class="d-flex flex-column justify-content-center px-4 py-3">
            <a href="https://www.marketwatch.com/story/gizer-and-reality-gaming-group-team-up-to-bring-tournament-play-to-reality-clash-2018-01-09" target="_blank">
              <img src="/assets/images/img-press-logo-2.png" alt="logo">
            </a>
          </div>
          <div class="d-flex flex-column justify-content-center px-4 py-3">
            <a href="https://finance.yahoo.com/news/esports-takes-ethereum-storm-price-140100931.html" target="_blank">
              <img src="/assets/images/img-press-logo-3.png" alt="logo">
            </a>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="d-flex flex-column justify-content-center px-4 py-3">
            <a href="https://hacked.com/gizer-gaze-coin-join-forces-shape-esports-future/" target="_blank">
              <img src="/assets/images/img-press-logo-4.png" alt="logo">
            </a>
          </div>
          <div class="d-flex flex-column justify-content-center px-4 py-3">
            <a href="https://cointelegraph.com/press-releases/gizer-ico-analysis-esports-network-launches-token-sale" target="_blank">
              <img src="/assets/images/img-press-logo-5.png" alt="logo">
            </a>
          </div>
          <div class="d-flex flex-column justify-content-center px-4 py-3">
            <a href="http://icocrowd.com/the-gzr-token/" target="_blank">
              <img src="/assets/images/img-press-logo-6.png" alt="logo">
            </a>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="d-flex flex-column justify-content-center px-4 py-3">
            <a href="https://www.entrepreneur.com/article/308558" target="_blank">
              <img src="/assets/images/img-press-logo-7.png" alt="logo">
            </a>
          </div>
          <div class="d-flex flex-column justify-content-center px-4 py-3">
            <a href="https://cryptodaily.co.uk/2017/10/the-evolution-of-esports/" target="_blank">
              <img src="/assets/images/img-press-logo-8.png" alt="logo">
            </a>
          </div>
          <div class="d-flex flex-column justify-content-center px-4 py-3">
            <a href="https://www.ccn.com/nyc-based-gizer-announces-presale-widely-anticipated-gzr-token/" target="_blank">
              <img src="/assets/images/img-press-logo-9.png" alt="logo">
            </a>
          </div>
        </div>
      </div>
      <div *ngIf="isMobile" class="logo-block pb-4">
        <div class="row justify-content-center">
          <div class="col-6 mb-3">
            <a href="http://markets.businessinsider.com/news/stocks/cryptokitties-or-cryptocatastrophe-viral-kitties-cause-massive-delays-on-ethereum-network-blockchain-virtual-goods-the-next-big-thing-for-gamers-1010731282" target="_blank">
              <img class="w-100" src="/assets/images/img-press-logo-1.png" alt="logo">
            </a>
          </div>
          <div class="col-6 mb-3">
            <a href="https://www.marketwatch.com/story/gizer-and-reality-gaming-group-team-up-to-bring-tournament-play-to-reality-clash-2018-01-09" target="_blank">
              <img class="w-100" src="/assets/images/img-press-logo-2.png" alt="logo">
            </a>
          </div>
          <div class="col-6 mb-3">
            <a href="https://finance.yahoo.com/news/esports-takes-ethereum-storm-price-140100931.html" target="_blank">
              <img class="w-100" src="/assets/images/img-press-logo-3.png" alt="logo">
            </a>
          </div>
          <div class="col-6 mb-3">
            <a href="https://hacked.com/gizer-gaze-coin-join-forces-shape-esports-future/" target="_blank">
              <img class="w-100" src="/assets/images/img-press-logo-4.png" alt="logo">
            </a>
          </div>
          <div class="col-6 mb-3">
            <a href="https://cointelegraph.com/press-releases/gizer-ico-analysis-esports-network-launches-token-sale" target="_blank">
              <img class="w-100" src="/assets/images/img-press-logo-5.png" alt="logo">
            </a>
          </div>
          <div class="col-6 mb-3">
            <a href="http://icocrowd.com/the-gzr-token/" target="_blank">
              <img class="w-100" src="/assets/images/img-press-logo-6.png" alt="logo">
            </a>
          </div>
          <div class="col-6 mb-3">
            <a href="https://www.entrepreneur.com/article/308558" target="_blank">
              <img class="w-100" src="/assets/images/img-press-logo-7.png" alt="logo">
            </a>
          </div>
          <div class="col-6 mb-3">
            <a href="https://cryptodaily.co.uk/2017/10/the-evolution-of-esports/" target="_blank">
              <img class="w-100" src="/assets/images/img-press-logo-8.png" alt="logo">
            </a>
          </div>
          <div class="col-6 mb-3">
            <a href="https://www.ccn.com/nyc-based-gizer-announces-presale-widely-anticipated-gzr-token/" target="_blank">
              <img class="w-100" src="/assets/images/img-press-logo-9.png" alt="logo">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="inquiries-wrapper">
    <div class="container-fluid">
      <div class="header-block text-center">
        <h3 class="title py-4">Press Inquiries</h3>
        <p class="sub-text">Have a press or media inquiry that you want to talk to the team about?</p>
        <a
        class="btn-touch"
        href='mailto:Pr@gizer.io'
      >
      Get in Touch
      </a>
      </div>      
      <!-- <div class="button-block text-center pt-3 pb-5">
          <span class="btn-touch">Get in Touch</span>
      </div> -->
    </div>
  </div>
</div>