<div class="locked-modal">
  <div class="modal-body text-center">
    <h3 class="modal-title py-3">Your MetaMask is Locked.</h3>
    <div class="px-5 mx-4">
      <p class="description px-5">All you need to do is open MetaMask and follow the instructions to unlock it in order to purchase GZR.</p>
    </div>
    <div class="locked-mask m-5">
      <img src="/assets/images/locked-metamask.png">
    </div>
    <p class="confused">Confused?</p>
    <div class="mb-5">
      <span class="view-faq" (click)="navigateToFAQ()">View the FAQ</span>
    </div>
  </div>
</div>