.item-detail-page {
    .page-title {
        font-size: 22px;
        font-family: "Century Gothic";
        color: #ffffff;
    }
    .item-title {
        font-size: 30px;
        font-family: "Century Gothic Bold";
        color: #ffffff;
    }
    .item-wrapper {
        width: 20%;
        display: inline-block;
    }
    .viewer {
        border-radius: 25px !important;
    }
    .description {
        font-size: 17px;
        font-family: "Century Gothic";
        color: #ffffff;
        line-height: 1.2;
    }
    .script {
        font-size: 16px;
        font-family: "Century Gothic";
        color: #ffffff45;
    }
    .item {
        border: solid 2px #2a2c45;
        cursor: pointer;
    }
    .item-name {
        font-size: 22px;
        font-family: "Century Gothic Bold";
        color: #ffffff;
    }
    .open-treasure-button-deco {
        border: solid 2px #ffffff;
        border-radius: 12px;
        background-color: rgba(0, 0, 0, 0.639);
        .open-treasure-button-img {
            cursor: pointer;
        }
        .gizer-price {
            .gizer-price {
                font-size: 18px;
                font-family: "Century Gothic Bold";
                color: #ffffff;
            }
        }
    }
    .into-text {
        font-size: 18px;
        font-family: "Century Gothic Bold";
        color: #7777a9;
    }
    .item-list {
        position: relative;
        justify-content: center;
        display: flex;
        .item-area {
            width: 93%;
            display: inline-block;
        }
        .arrow-left {
            position: absolute;
            left: -5px;
        }
        .arrow-right {
            position: absolute;
            right: 35px;
        }
        .arrow {
            display: inline-block;
            height: 100%;
            vertical-align: top;
            text-align: center;
            .arrow-padding {
                cursor: pointer;
                position: absolute;
                top: 35%;
                left: 0;
                padding-top: 12px;
                padding-left: 5px;
                height: 50px;
                width: 50px;
                border-radius: 50%;
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
    }
    @media (max-width: 450px) {
        .item-title {
            h2 {
                font-size: 15px;
            }
        }
        .type-gallery {
            img {
                width: 66px;
            }
        }
        .item-wrapper {
            width: 50%;
            display: inline-block;
        }
        .viewer {
            border-radius: 25px !important;
        }
        .description {
            font-size: 13px;
            p {
                margin-bottom: 7px;
                font-size: 13px;
            }
        }
        .item-name {
            font-size: 17px;
            font-family: "Century Gothic Bold";
            color: #ffffff;
        }
        .script {
            font-size: 13px;
            font-family: "Century Gothic";
            color: #ffffff45;
        }
        .treasure {
            width: 117px;
        }
        .item {
            border: solid 2px #2a2c45;
            cursor: pointer;
        }
        .open-treasure-button-deco {
            .open-treasure-button-img {
                cursor: pointer;
                img {
                    height: 30px;
                }
            }
            .gizer-price {
                .gizer-price {
                    font-size: 18px;
                    font-family: "Century Gothic Bold";
                    color: #ffffff;
                }
            }
        }
        .into-text {
            font-size: 13px;
        }
        .item-list {
            .item-area {
                width: 100%;
                display: inline-block;
            }
            .arrow {
                display: inline-block;
                height: 100%;
                vertical-align: top;
                position: relative;
                text-align: center;
                .arrow-padding {
                    cursor: pointer;
                    position: absolute;
                    top: 35%;
                    left: 0;
                    padding-top: 12px;
                    padding-left: 5px;
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    background-color: rgba(255, 255, 255, 0.1);
                }
            }
        }
    }
}
