<div class="item-detail-page">
  <div *ngIf="detailItem" class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="item-title py-2 py-md-4">
          <h2>{{detailItem.meta.name}}</h2>
        </div>
      </div>
      <div class="d-flex justify-content-center flex-column col-12 col-md-8">
        <div class="d-flex justify-content-end share-icons py-2">
          <share-container
              [platforms]="['facebook','twitter','googlePlus','linkedin','pinterest','reddit','tumblr','stumbleUpon']"
              [expandable]="false"
              [properties]=description
              >
          </share-container>
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div [ngClass]="{'border rounded border-secondary': !isMobile}">
          <div class="d-flex justify-content-center flex-column sketchfab-embed-wrapper">
            <iframe *ngIf="!isMobile" width="1112" height="689" frameborder="0" style="border:0; -moz-border-radius: 25px; border-radius: 25px;" [src]="detailItem.safeUrl" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe> -->
            <iframe *ngIf="isMobile" width="345" height="256" frameborder="0" style="border:0; -moz-border-radius: 25px; border-radius: 25px;" [src]="detailItem.safeUrl" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
          </div>
        <div class="description p-md-4 pl-md-5">
          <div class="type-gallery pb-3 pl-2 pl-md-0">
            <img *ngFor="let image of typeImages" class="pr-2 pr-md-3" src="{{image}}">
          </div>
          <p>{{detailItem.meta.description}}</p>
        </div>
      </div>
    </div>
    <div class="row no-gutters mt-4 border border-secondary">
      <div class="col-md-6">
        <div class="pt-3 px-3 pl-md-5 pt-md-4 pb-md-3">
          <h3 class="item-name">The Founders Edition</h3>
          <p class="script">This item can be unlocked from:</p>
          <p class="description">The Founder's Edition is Gizer's first and most scarce set of items designed for our initial GZR token buyers. There will be many more editions available in the future; some coming from game developers, 3D artists, and licensed gaming items. However, this specific edition is exclusively available for 25 days. The Founder's Edition marks history in Gizer...consider yourself OG.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="treasure-image d-flex h-100 p-3 align-items-center justify-content-center">
          <img class="shake-slow treasure align-top mr-2 mr-md-4" src="/assets/images/img-item-treasure-box.png">
          <div class="open-treasure-button-deco d-inline-block align-bottom pt-4 pb-2 px-4 pt-md-5 pb-md-4 px-md-4">
            <div class="open-treasure-button-img mb-2">
              <img src="/assets/images/btn-open-treasure-small.png" (click)="navigateToTreasure()">
            </div>
            <div class="gizer-price text-center">
              <img src="/assets/icons/icon-gizer-tiny.png">
              <span class="gizer-price align-middle pl-1">1</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row no-gutters p-3 mb-5 border border-secondary">
      <div class="w-100 p-md-3">
        <p class="into-text">Other items from this Treasure</p>
      </div>
      <div class="item-list w-100">
        <div class="item-area">
          <app-item
            class="item-wrapper"
            *ngFor="let item of items"
            [id]="item.id"
            [itemImageLink]="item.resources.icons[0]"
            [itemName]="item.meta.name"
            [rarity]="item.meta.rarity"
            >
          </app-item>
        </div>
        <div *ngIf="!isMobile" class="arrow-right arrow pl-2">
          <span class="arrow-padding" (click)="loadNextWeapons()" >
            <img src="/assets/icons/icon-greater-than.png">
          </span>
        </div>
        <div *ngIf="!isMobile" class="arrow-left arrow pl-2">
          <span id="viewmore_itemsavailable" class="arrow-padding" (click)="loadPrevWeapons()">
            <img src="/assets/icons/icon-smaller-than.png">
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
