@font-face {
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/CenturyGothic/CenturyGothic.ttf');
}

@font-face {
    font-family: 'Century Gothic Bold';
    font-style: bold;
    font-weight: 600;
    src: url('/assets/fonts/CenturyGothic/GOTHICB.TTF');
}