<div class="treasure-modal">
  <div class="treasure-modal__header">
      <button type="button" class="treasure-modal__close">&times;</button>
      <img src="images/gizer-logo.png" alt="logo">
      <img src="images/open-text.png" alt="open">
  </div>
  <div class="treasure-modal__content">
      <div class="chest">
          <div class="chest__body"></div>
          <div class="chest__lid-closed"></div>
          <div class="chest__lid-opened"></div>
          <div class="chest__light"></div>
          <button type="button" class="chest__card">
              <div class="chest__card-body">
                  <img src="images/item.png" class="chest__card-img" alt="item">
                  <div class="chest__card-text">
                      Super Sledge
                  </div>
                  <div class="chest__card-badge">
                      <img src="images/badge.png" alt="badge">
                  </div>
              </div>
          </button>
          <div class="chest__card-rays"></div>
          <div class="chest__card-particles"></div>
      </div>
  </div>
</div>