.welcome-section {
    background-image: url('/assets/images/img-welcome.png');
    background-size: cover;
    .title {
        font-size: 24px;
        font-family: "Century Gothic Bold";
        color: #2acae7;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
    }
    .description {
        font-size: 18px;
        font-family: "Century Gothic";
        color: #ffffff80;
        line-height: 1.3;
        -webkit-font-smoothing: antialiased;
    }
    .youtube {
        background-image: url('/assets/images/img-youtube.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        .youtube-video {
            position: absolute;
            top: 128px;
            left: 161px;
        }
    }
    @media (max-width: 450px) {
        background-image: url('/assets/images/img-welcome-small.png');
        background-size: cover;
        .title {
            font-size: 15px;
            padding-top: 20px !important;
            padding-bottom: 0px !important;
        }
        .description {
            font-size: 14px;
            padding-bottom: 0px !important;
        }
        .download-wrapper {
            padding-bottom: 0 !important;
        }
        .no-padding {
            padding: 0 !important;
        }
        .youtube {
            height: 175px !important;
            background-image: url('/assets/images/img-youtube-small.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            margin-bottom: 30px;
            margin-top: 20px;
            .youtube-video {
                position: static;
                margin: 38px 78px;
            }
        }
    }
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
}
  