<div class="welcome-section">
  <div class="offset-md-1">
    <div class="row">
      <div class="col-md-4">
        <h3 class="title">Welcome to gizer</h3>
        <p class="description">Gizer is a mobile eSports platform and social marketplace that bridges the gap between the entire gaming community - Gamers, Hosts, Freelance Services, Businesses and Venues. Gizer provides opportunity to each party by connecting them through the various social interactions, events, services, and products on the Gizer platform.</p>
        <div class="row">
          <div class="col-6">
            <a href="https://play.google.com/store/apps/details?id=gizer.com.android" target="_blank">
              <img src="/assets/images/img-google-play.png">
            </a>
          </div>
          <div class="col-6">
            <a href="https://itunes.apple.com/us/app/gizer/id1165061479?ls=1&amp;mt=8" target="_blank">
              <img src="/assets/images/img-apple-store.png">
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="youtube">
          <img class="mobile-bg" src="/assets/images/img-youtube.png">
          <iframe class="youtube-video" width="462" height="262" src="https://www.youtube.com/embed/jJ4EXiZk2zA" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>