<div class="faq-page pb-5">
  <div class="container-fluid">
    <div class="row">
      <div class="faq-banner py-5 text-center w-100">
        <img src="/assets/images/img-faq.png">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="guide-accordion">
      <div class="row justify-content-center">
        <div class="title border-top-0 py-4">
          <h3 class="mt-2">Getting started</h3>
        </div>
      </div>
      <div class="row justify-content-center">
        <accordion class="w-100">
          <accordion-group
          [isOpen]="status.ggid"
          (click)="status.ggid = !status.ggid"
          >
            <div accordion-heading class="clearfix">
                What do I need to unlock GGiD Items?
              <span class="float-right pull-right">{{status.ggid ? '‒' : '+'}}</span>
            </div>
            <div (click)="stopCollapse($event)">
              <p class="description">Here's what you'll need to get started with GGiD:</p>
              <ul class="guide-list">
                <li class="guide-item">
                  <p class="description">A computer running the desktop Chrome, Firefox, Opera or Brave</p>
                </li>
                <li class="guide-item">
                  <p class="description">MetaMask, a digital wallet specifically for your web browser</p>
                </li>
                <li class="guide-item">
                  <p class="description">Ether, the cryptocurrency that powers GGiD</p>
                </li>
              </ul>
            </div>
          </accordion-group>
          
          <accordion-group
              [isOpen]="status.install"
              (click)="status.install = !status.install">
            <div accordion-heading class="clearfix">
              How do I install MetaMask?
              <span class="float-right pull-right">{{status.install ? '‒' : '+'}}</span>
            </div>
            <div (click)="stopCollapse($event)">
              <p class="description">To purchase GZR and unlock your Global Gaming Identity you will first need to install MetaMask, a digital cryptocurrency wallet for Ethereum. You’ll need to fund your wallet with ETH in order to purchase GZR.</p>
              <p class="note">Note: MetaMask is like your bank account -- make sure you don’t forget your password or lose your seed words</p>
              <div class="text-center">
                <iframe class="youtube-video" width="467" height="267" src="https://www.youtube.com/embed/4RXnH6HtCYc" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </accordion-group>

          <accordion-group
            [isOpen]="status.locked"
            (click)="status.locked = !status.locked">
            <div accordion-heading class="clearfix">
              Why is MetaMask locked?
              <span class="float-right pull-right">{{status.locked ? '‒' : '+'}}</span>
            </div>
            <div (click)="stopCollapse($event)">
              <ul class="guide-list">
                <li class="guide-item">
                  <p class="description">Sometimes the ‘My Items’ and ‘Get GZR’ screens display a lock screen. This happens because after a certain amount of time MetaMask automatically locks your account. To unlock MetaMask, simply click the MetaMask icon in your browser and type in your password.</p>
                </li>
              </ul>
              <div class="text-center">
                <img src="/assets/images/meta-mask-locked.png">
              </div>
            </div>
          </accordion-group>

          <accordion-group
            [isOpen]="status.ether"
            (click)="status.ether = !status.ether">
            <div accordion-heading class="clearfix">
              How do I get Ether?
              <span class="float-right pull-right">{{status.ether ? '‒' : '+'}}</span>
            </div>
            <div (click)="stopCollapse($event)">
              <ul class="guide-list">
                <li class="guide-item">
                  <p class="description">US citizens can buy ETH directly through MetaMask using Coinbase.</p>
                </li>
                <li class="guide-item">
                  <p class="description">If you have other cryptocurrencies like Bitcoin or Litecoin, you can use MetaMask to convert your coins using ShapeShift.</p>
                </li>
                <li class="guide-item">
                  <p class="description">If neither of these solutions work for you, you can purchase ETH from an exchange like Binance, Bittrex, KuCoin or Poloniex. Once purchased, you can transfer the ETH from your exchange account to your MetaMask wallet. You cannot purchase GZR or unlock GGiD items without MetaMask.</p>
                </li>
                <li class="guide-item">
                  <p class="note">You can only purchase GZR with ETH. No other currencies are accepted.</p>
                </li>
              </ul>
            </div>
          </accordion-group>

          <accordion-group
            [isOpen]="status.wallet"
            (click)="status.wallet = !status.wallet">
            <div accordion-heading class="clearfix">
              How do I send ETH to my MetaMask wallet?
              <span class="float-right pull-right">{{status.wallet ? '‒' : '+'}}</span>
            </div>
            <div (click)="stopCollapse($event)">
              <ul class="guide-list">
                <li class="guide-item">
                  <p class="description">Open your MetaMask wallet and copy your receiving address by clicking the ‘…’ and then click ‘Copy Address to Clipboard’. Go to your chosen exchange and withdraw your ETH to the address you copied in order to send your ETH to MetaMask.</p>
                </li>
                <li class="guide-item">
                  <p class="note">Note: If you use another wallet like Jaxx, MyEtherWallet, imToken or Eidoo, you have the ability to import your wallet into MetaMask using your private key. Remember to NEVER share your private key with anyone as it gives them full access to all of your funds.</p>
                </li>
              </ul>
              <div class="text-center">
                <img src="/assets/images/meta-mask-copy-address.png">
              </div>
            </div>
          </accordion-group>
          
          <div class="title text-center py-4">
            <h3 class="mt-2">Understanding Gizer and the Global Gaming Identity</h3>
          </div>
          
          <accordion-group
            [isOpen]="status.gizer"
            (click)="status.gizer = !status.gizer">
            <div accordion-heading class="clearfix">
                What is Gizer?
              <span class="float-right pull-right">{{status.gizer ? '‒' : '+'}}</span>
            </div>
            <div (click)="stopCollapse($event)">
              <p class="description">Gizer is a real time gaming network for mobile eSports. Find and compete in tournaments in under 20 seconds on the gaming feed or turn your skills into paying gigs on the Gizer Marketplace. Network with other gamers and unlock items to build up your Global Gaming Identity. Duel players and fight to become to ultimate eSports champion.</p>
              <p class="description">You can download Gizer today on 
                <a class="link" href="https://itunes.apple.com/us/app/gizer/id1165061479?ls=1&amp;mt=8" target="_blank">iOS</a>
                 or 
                <a class="link" href="https://play.google.com/store/apps/details?id=gizer.com.android" target="_blank">Android</a>
              </p>
            </div>
          </accordion-group>

          <accordion-group
            [isOpen]="status.whatisggid"
            (click)="status.whatisggid = !status.whatisggid">
            <div accordion-heading class="clearfix">
                What is GGiD?
              <span class="float-right pull-right">{{status.whatisggid ? '‒' : '+'}}</span>
            </div>
            <div (click)="stopCollapse($event)">
              <p class="description">The Global Gaming Identity is a cross platform stat tracking system build on the backbone of the Ethereum blockchain. Compete in tournaments and unlock unique collectible items to build up your profile and show the world that you have what it takes to become an eSports legend.</p>
            </div>
          </accordion-group>

          <accordion-group
            [isOpen]="status.withitems"
            (click)="status.withitems = !status.withitems">
            <div accordion-heading class="clearfix">
                What can I do with my items?
              <span class="float-right pull-right">{{status.withitems ? '‒' : '+'}}</span>
            </div>
            <div (click)="stopCollapse($event)">
              <p class="description">Think of your items as the building blocks for your gaming profile on the blockchain. Items are unique and collectible and released in limited quantities. They can be equipped to your Global Gaming Identity avatar to enhance your profile and can be traded with other users.</p>
            </div>
          </accordion-group>

          <div class="title text-center py-4">
            <h3 class="mt-2">Buying and Selling</h3>
          </div>

          <accordion-group
            [isOpen]="status.buy"
            (click)="status.buy = !status.buy">
            <div accordion-heading class="clearfix">
                How do I buy GZR?
              <span class="float-right pull-right">{{status.buy ? '‒' : '+'}}</span>
            </div>
            <div (click)="stopCollapse($event)">
              <p class="description">In order to purchase GZR, you’ll need to have Ether and MetaMask. ETH is the currency of the Ethereum blockchain and MetaMask is a secure wallet plugin for Google Chrome, Mozilla Firefox and the Brave browser.</p>
              <p class="description">MetaMask will act as your login to our website, meaning you do not need an extra password to protect your account.</p>
            </div>
          </accordion-group>

          <accordion-group
            [isOpen]="status.selling"
            (click)="status.selling = !status.selling">
            <div accordion-heading class="clearfix">
                Can I sell my items?
              <span class="float-right pull-right">{{status.selling ? '‒' : '+'}}</span>
            </div>
            <div (click)="stopCollapse($event)">
              <p class="description">During the tokensale, you will be able to unlock GZR and equip them to your avatar on our web platform. Shortly after the tokensale, we will release the Gizer Marketplace where you will be able to buy and sell items with other players.</p>
            </div>
          </accordion-group>

          <accordion-group
            [isOpen]="status.unlock"
            (click)="status.unlock = !status.unlock">
            <div accordion-heading class="clearfix">
                How do I unlock items?
              <span class="float-right pull-right">{{status.unlock ? '‒' : '+'}}</span>
            </div>
            <div (click)="stopCollapse($event)">
              <p class="description">Unlocking items is easy, once you have purchased GZR, you can navigate to tokensale.gizer.io and click Open Treasure. After clicking on Open Treasure, you will receive a prompt from MetaMask to send 1 GZR to the chest unlocking system. By clicking accept, you will purchase a chest which when unlocked will contain a random item from the current collection.</p>
            </div>
          </accordion-group>

          <div class="title text-center py-4">
            <h3 class="mt-2">Other</h3>
          </div>

          <accordion-group
            [isOpen]="status.reach"
            (click)="status.reach = !status.reach">
            <div accordion-heading class="clearfix">
                How do I reach the Gizer team regarding partnerships, projects, marketing, press, or investment opportunities?
              <span class="float-right pull-right">{{status.reach ? '‒' : '+'}}</span>
            </div>
            <div (click)="stopCollapse($event)">
              <p class="description">Feel free to email us <a href="#" class="link">here</a></p>
            </div>
          </accordion-group>
          
        </accordion>
      </div>
    </div>
  </div>
</div>