.insufficient-funds-modal {
    .modal-title {
        font-size: 30px;
        font-family: "Century Gothic Bold";
        color: #3171a2;
    }
    .description {
        font-size: 18px;
        font-family: "Century Gothic";
        color: #0b0c14;
    }
    .purchase {
        font-family: "Century Gothic";
        font-size: 24px;
        color: #ffffff;
        cursor: pointer;
        display: inline-block;
        padding: 5px 45px;
        border-radius: 50px;
        background: #f89220;
    }
    @media (max-width: 450px) {
        .modal-title {
            font-size: 18px;
        }
        .description {
            font-size: 12px;
        }
        .view-faq {
            font-size: 13px;
        }
        .link {
            cursor: pointer;
            font-size: 12px;
            font-family: "Century Gothic Bold";
            color: #0f9cd1;
            text-decoration: underline;
        }
    }
}