<div class="my-items-page">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-12">
        <div class="unity-player-wrapper py-4">
          <div class="unity-player">
            <div class="webgl-content">
              <div id="gameContainer" class="gameContainer"></div>
              <div class="footer">
                <div class="webgl-logo"></div>
                <div class="fullscreen" (onclick)="gameInstance.SetFullscreen(1)"></div>
                <div class="title">Gizer Final</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-between">
      <div class="col-6 col-md-3">
        <div class="d-flex py-4">
          <p class="block-header m-0">My Inventory</p>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="d-flex justify-content-end py-4">
          <span><img src="/assets/icons/icon-my-items-sort.png" alt="sort order icon"></span>
          <span class="block-header text-right">Recently Added</span>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <app-item-list
        [showTitle]="false"
        [showNavigation]="false"
      >
      </app-item-list>
    </div>
  </div>
</div>